[2020-04-03 19:53] aaronstephenson commented on #364
The code on the test instance is current. I just gave it a try on my local environment and it works fine, I can see both public and private events in the CSV file when I am logged in as you. I'll have to investigate on the test instance.

[2020-04-03 19:54] BlakeDraper commented on #363
I'll look into it.

[2020-04-03 20:16] aaronstephenson commented on #364
I just created a test user on the test instance to match the attributes of 'jchipault' (role 2, org 2), and I can download a CSV file containing both public and private events when logged in as that user:

![image](https://user-images.githubusercontent.com/8713712/78401266-fcdf9000-75bd-11ea-825b-f4eacb898033.png)

![image](https://user-images.githubusercontent.com/8713712/78401290-07018e80-75be-1

[2020-04-03 20:24] JChipault commented on #364
huh, just tried again:
![image](https://user-images.githubusercontent.com/49287076/78401772-17663900-75bf-11ea-9f6f-cc3ffec50d1d.png)

![image](https://user-images.githubusercontent.com/49287076/78401828-2baa3600-75bf-11ea-8197-38cd8e2d1769.png)

[2020-04-03 20:30] aaronstephenson commented on #364
Weird. The code will only exclude the 'Public' field if the requesting user is either not logged in or has the Public role. Just to confirm, are you logged in when you click the Export CSV button?

[2020-04-03 20:39] JChipault commented on #364
yup
![image](https://user-images.githubusercontent.com/49287076/78402996-35cd3400-75c1-11ea-8fd4-ec4d96645a12.png)

also, the private events shouldn't show on my home page if I'm not logged in (let alone export)

[2020-04-03 20:41] aaronstephenson commented on #364
We are seeing very different things. When I go to whispers app when not logged in, I only see public events.

[2020-04-03 20:55] aaronstephenson commented on #362
This was directly related to #364
Fixed in 1.5.0 226ccfc

[2020-04-03 21:08] aaronstephenson commented on #365
It appears someone already changed the server's time zone to Central (specifically, 'America/Chicago') a few days ago. Judging by the email log time stamps and the dates on the notification records, the dates are aligning.

On the off chance that the email still reports a different date, it _could_ be something to do with the SMTP server (which is out of our control).  But I suspect the server tim

[2020-04-06 12:48] JChipault commented on #364
Sorry, I wasn't clear. I think this quote from me is confusing: "also, the private events shouldn't show on my home page if I'm not logged in (let alone export)". I was trying to indicate that this is working correctly. I can only see and export public events when not logged in and that's appropriate.  No change needed

#362 is in reference to a partner manager who is logged in.

This #364 ticket

[2020-04-07 17:11] BlakeDraper opened #368 "The automatic notificationcuestandard records are not being created for new users"
Reported by Neil. I can confirm that that the users he created recently in the test DB (79-82) do not have any notificationcuestandard records associated as they should. Neil created them through the standard path, using the WHISPers client.

[2020-04-07 18:21] aaronstephenson commented on #368
Ack. I put some logic in there to not create the standard notification cues for public users, forgetting that pretty much all users are public when they are created. Quick fix.

[2020-04-07 18:32] aaronstephenson commented on #368
Fixed in 2aee4093

[2020-04-07 18:32] #368 closed

[2020-04-07 19:08] aaronstephenson commented on #364
@BlakeDraper After testing several scenarios, I think this is a front end bug. The request initiated when clicking the Export Data button on the home page does not include the Auth header, to the API only returns public data. The reason I was getting the private data last week when I tested this was because I was simultaneously logged into the Browsable API.

[2020-04-07 19:25] BlakeDraper commented on #364
I will look into it.

[2020-04-07 19:36] JChipault opened #369 "error when setting standard notifications"
Report from external user is below. This happened to him consistently yesterday and again today, but I haven't heard it reported from anyone else (though number of testers is pretty small right now):
Attached a screen capture of an error message I receive under Notifications > Manage Notification Preferences >  Standard Notifications and select any of the boxes to receive notifications 'new' or 'u

[2020-04-08 13:36] nbaertlein opened #370 "Cannot save search on live site"
I'm logged in as a public user on the live site and cannot save a search.  The error received when attempting to save is:

Error. Search not saved. Error message: {"detail":"You do not have permission to perform this action."}

[2020-04-08 15:42] BlakeDraper commented on #364
So the issue here is that the export CSV button ultimately leads to this line:
`window.location.href = APP_SETTINGS.EVENTS_SUMMARIES_URL + queryString;` and there is no way to send a header with this sort of request because the browser itself is making the HTTP request.  I'm looking into refactoring the approach entirely, but some initial reading indicates there may be issues with providing a mean

[2020-04-08 16:31] JChipault commented on #361
After more testing, NWHC talked again and we are wondering if it would be possible to receive separate updated event notifications for each user that made an edit (i.e. 'source') for "Your Events" "Your Organization's Events" and "Your Collaborator Events".

So if event 200501 were edited today by Ali (3 edits), Neil (1), Jenny (5), and Kim (2) I would get 4 emails tomorrow:
User Ali Rahama has up

[2020-04-08 16:49] JChipault commented on #364
Q: what are the chances that we could also export the public vs private field as a column in the .csv now that public vs private is being displayed on the home page? This would help make sure that people don't accidentally share private info in spreadsheets.

[2020-04-08 16:51] BlakeDraper commented on #364
@JChipault it was recently added. Once I have the fix applied to get the private events in your CSV, you'll see it.

[2020-04-08 16:53] JChipault commented on #364
saaa-weet! thanks!

[2020-04-08 20:07] BlakeDraper commented on #369
@aaronstephenson This appears to be a backend problem - the PATCH to update the user's `new_notification_cue_standard_preferences` is failing for a role error. Admin and SuperAdmins seem fine, this is discovered from a PartnerManager role, but could affect others as well.
![Capture](https://user-images.githubusercontent.com/6978380/78828521-71de0b80-79aa-11ea-98bd-d87f928f1460.jpg)

Traceback:

Fi

[2020-04-08 20:36] aaronstephenson commented on #369
Fixed in c17d7dbd

[2020-04-08 20:36] #369 closed

[2020-04-08 20:37] JChipault commented on #365
looks good to me

[2020-04-08 20:38] BlakeDraper commented on #370
@aaronstephenson a public user is being prevented from saving a search. In fact, this is essentially the _only_ thing a public user can save.

![image](https://user-images.githubusercontent.com/6978380/78831168-cd11fd00-79ae-11ea-8fe5-fb18cff0590b.png)

[2020-04-08 20:45] #365 closed

[2020-04-08 20:54] aaronstephenson commented on #370
Fixed in b962790d

This _used_ to work but fell victim to the permissions refactor a while back.

[2020-04-08 20:54] #370 closed

[2020-04-08 21:23] BlakeDraper commented on #364
Fix done locally. Published soon.

[2020-04-14 18:20] BlakeDraper commented on #361
@JChipault @nbaertlein Aaron was able to do some lifting and complete this consolidation change for you guys. We are still testing it on our dev environments but expect it to be on test shortly.

We also have a question for you guys: for the organization-based consolidated notifications for Custom and All Events, should the `Source` field value be the organization? In all other notifications the s

[2020-04-15 13:48] nbaertlein commented on #361
@BlakeDraper Organization as source for custom and all events sounds good to us.

[2020-04-15 20:25] BlakeDraper commented on #361
@nbaertlein @JChipault Aaron has published these requested changes to the test environment for you all to work with. Hopefully this brings us to a workable notifications release to production.

[2020-04-16 19:52] JChipault commented on #349
@aaronstephenson I edited 170782 yesterday (marked it as public, added collaborator, added species and number dead) and have 2 different custom notifications set up that changes to this event should have triggered and I did not receive any custom notifications overnight.

![image](https://user-images.githubusercontent.com/49287076/79500315-dd029000-7ff1-11ea-8c9f-1cffca1156a3.png)

[2020-04-16 20:05] JChipault commented on #355
@aaronstephenson this one popped up again. I'm getting the create date in a notification about an event update. I'd expect 4/15 where it says 3/31:
![image](https://user-images.githubusercontent.com/49287076/79501440-a9286a00-7ff3-11ea-99c8-27b9a877abb3.png)

[2020-04-16 20:21] JChipault opened #371 "not consistenly getting "User Account Request"s"
We had a user (jchung) register as a Natural Resource Management Professional on the test site yesterday and whispers@usgs.gov never received a "User Account Request" email.

In recent times, we've received notifications about account requests from DottieJohnson4 and apatel, but none for jchung, jctest, or dtunseth. It's spotty for some reason

[2020-04-16 20:51] aaronstephenson commented on #355
Sorry, this happened because of a big refactor I just did. Fixed now in 5c6d13c0

[2020-04-16 20:51] #355 closed

[2020-04-16 21:23] aaronstephenson commented on #349
Event 170782 has a `modified_date` of October 30, 2019 and a `public` value of False, and its only read user was added October 30, 2019, tho I do see that LocationSpecies 298319, 298311, and 298309 were created/edited.

It's very odd that the edits directly to Event and the EventReadUser didn't seem to save. Do you remember seeing any errors or warnings?

Regardless, the updates/creates to the Loc

[2020-04-16 21:32] aaronstephenson commented on #371
I just tested this via the API on my laptop, on our dev server, and on the test sever, and it works as expected in each place. I see the new user change request record in that table every time. This suggests to me that the back end code is fine. @BlakeDraper could there be something happening on the front end, where the new user's change request gets dropped before POSTing to the API?

[2020-04-16 21:37] BlakeDraper commented on #371
I'll take a look.

[2020-04-16 22:10] JChipault commented on #349
I do not remember seeing any errors.

I checked the frontend again and it says public and abilene zoo as read/write collaborator (read collaborator already there, i.e. was not added yesterday):
![image](https://user-images.githubusercontent.com/49287076/79511412-dd585680-8004-11ea-9512-7b75ce849db3.png)

![image](https://user-images.githubusercontent.com/49287076/79511552-1ee90180-8005-11ea-83cc-4

[2020-04-16 22:12] JChipault commented on #349
more data: I received a "Your Events" notification overnight (standard notifications seem to be coming through) that told me that the public field was changed:
![image](https://user-images.githubusercontent.com/49287076/79511705-74bda980-8005-11ea-84c5-cc26275ae78e.png)

[2020-04-16 22:14] BlakeDraper commented on #371
@aaronstephenson this is the format being sent. is this correct?

[code]

[2020-04-16 22:20] aaronstephenson commented on #371
Yes. Here's what I've been using, they look identical in form:
[code]

[2020-04-16 22:29] BlakeDraper commented on #371
@JChipault sorry to have to ask this, but do you have any more details of these requests that have not behaved properly? namely: the org and the role requested? I can't believe that would have anything to do with it, but trying to explore all avenues because my testing is showing the requests go through.

[2020-04-17 13:17] JChipault commented on #349
On 4/16 I added Kim as a read collaborator and added an event diagnosis of botulism suspect to 170872. This should have tripped BOTH my custom notifications and my standard notifications and I received neither this morning.

[2020-04-17 14:12] BlakeDraper commented on #349
@JChipault I'm looking at your capture of your Custom Notifications, and both include California as one of the parameters. I looked at Event 17082 in the test database and it does not have any event locations in California. That is why you would not receive notifications for those changes -  all criteria of the custom notification trigger must be met to produce the notification.

[2020-04-17 14:14] nbaertlein commented on #371
The user 'jchung' requested the 'Partner' role (id = 5)  for the DHS organization (ID = 1756).  This request was logged into the table whispers_userchangerequest (see SQL below).  When a user requests to be partner we (the org and admins) also typically get a notification for a 'User Account Change Request', but in this case we did not (see SQL below).  We saw similar behavior for users jctest and

[2020-04-17 14:17] nbaertlein commented on #371
...also regarding 'We saw similar behavior for users jctest and dtunseth earlier in the month, but these did not log into whispers_userchangerequest either.'  I think logging in whispers_userchangerequest was resolved around 4/7.

[2020-04-17 14:20] JChipault commented on #349
@BlakeDraper Here's 170872... looks like it has california
![image](https://user-images.githubusercontent.com/49287076/79579054-b0e81d00-808c-11ea-8f4b-9623986f700c.png)

[2020-04-17 14:26] BlakeDraper commented on #349
@JChipault I see the confusion - looks like two digits got transposed. In a comment above you referenced `170782`  so that is what I checked. Note the last 3 digits.

You are correct that `170872` includes Californina. Is `170872` the one you edited?

[2020-04-17 14:33] JChipault commented on #349
Dang, sorry about that. Yes, it's been 170872 all along

[2020-04-17 14:42] BlakeDraper commented on #371
@nbaertlein there were updates to this part of the code recently, so as you say, most of that previous behavior is no longer relevant. Would you mind just creating a few dummy accounts through the normal frontend process and see if the behavior is as expected?  you could then just delete those accounts after creating them with your data admin privileges.

[2020-04-17 14:54] nbaertlein commented on #371
I just created 5 dummy accounts with different combinations of partner and organization, including leaving blank.  I found no error.  I think we'll have to let it ride and just keep an eye on it.

[2020-04-17 16:43] BlakeDraper commented on #349
@JChipault Ok thanks. We are looking into a cause.

[2020-04-17 16:53] JChipault commented on #349
To spell it out more, in case it helps you track things down... changing this event on Wednesday triggered a "Your Events" notification but neither of my custom notifications; changing this event Thursday triggered neither my standard notifications (so I lost "Your Events" notification) nor my two custom notifications.

[2020-04-17 16:54] aaronstephenson commented on #349
I think I have found the cause of the bug, thanks. Will update shortly.

The reason why you were seeing different results those two days was because the back end code was changed several times this week. Hopefully this next update is the ultimate solution.

[2020-04-17 19:00] BlakeDraper commented on #349
@JChipault you made two changes on 4/16: adding Kim as Event Collaborator and adding an Event Diagnosis of Botulism (suspect).

1) Event Collaborator update is not one of the things we ever designed to trigger an event updated notification. We believe we discussed this issue a while back and the mutually arrived upon conclusion was that only actual event data, i.e. the core tables, i.e. event loca

[2020-04-17 19:14] JChipault commented on #349
@BlakeDraper Perfect!

[2020-04-20 13:54] JChipault commented on #362
This one is not quite fixed... user account nwhcPartnerManager can see events marked as private on the "Your Events" tab
![image](https://user-images.githubusercontent.com/49287076/79758785-75935b80-82e3-11ea-8f08-26daaf29badc.png)

seems to only get private events showing on "Events" tab AFTER refreshing the search. So if start on the home page, then go to "Your Events" in dashboard, I see privat

[2020-04-20 17:05] BlakeDraper commented on #362
@JChipault this is curious. I've logged in to the test site with the nwhcPartnerManager account and done the things you have described 4 times, and I see all the private events every time in every place, with no refresh needed. See images below. Not sure why you are having a different result. Are you on v2.14.4 in the test environment and logged out of the API interface?

@lprivette would you test

[2020-04-20 17:07] lprivette commented on #362
Yep, testing now

[2020-04-20 17:10] BlakeDraper commented on #362
@lprivette somehow this appears to be a Firefox issue. On Firefox I do see the reported behavior. Please try both Chrome and FF and see if you can confirm?

[2020-04-20 17:25] JChipault commented on #362
I get the same errant behavior in chrome.

I do have 12.4.4 and am logged out of the API.

This originally hit our radar when user Nathan Kudla (also a partner manager) noticed that his "Your Events" tab showed events that he wasn't seeing in his "Events" tab or on the home page. Not sure what browser he was using, but it's not just my computer that's having this issue.

[2020-04-20 19:21] BlakeDraper commented on #362
@JChipault Lauren and I did some sleuthing and found out what is going on here. Its not actually a bug. My mention of Firefox turned out to be a red herring.

It it not that the private events are not showing - its just that those three lists all display the results in a different way. I think you will find that if you sort the home page results differently or just increase the results page size,

[2020-04-20 20:53] JChipault commented on #362
Palm to forehead... sure enough! Wow, I feel silly.

So now all three views will sort by start date with most recent on top? Looks like that's what the home page is already doing.

[2020-04-21 03:12] aaronstephenson commented on #349
I figured it out. It was the 'org' consideration for Custom and All Events Standard Notifications... I had changed the code to use org as the source and the 'consolidator' everywhere except in the code block where I was compiling the updates string, where I was still using user IDs for comparisons (resulting in empty updates strings, which, in the recently refactored code, meant no notifications).

[2020-04-23 13:43] JChipault commented on #361
Also received "All Events" notification for 170872 that had Ali's and Kim's changes noted with NWHC as org… We were expecting the Your Events notification to have trumped this All Events notification, but maybe now that Your/Your Org/Your Collaborator notifications have a source of user and All/Custom have a source of organization, these are in two different pools so we should expect to get both Y

[2020-04-23 13:46] JChipault commented on #361
Any possibility of starting new lines of text for each different update instead of having them all smashed together in one paragraph? We know this is not a bug so we might need to accept as is.

[2020-04-23 13:52] JChipault commented on #361
And last bug....
On 4/22 I added one sick arroyo toad to 170861, which should have triggered "Your Events" (and maybe "All Events"??... see above) and my "California" custom trigger, but I received no notifications about this overnight. The fact that this species update didn't trigger any notifications, paired with the fact that I never got notified about the species update I made on 4/20, makes m

[2020-04-23 16:17] JChipault commented on #361
Today at 10:30a, I added a species diagnosis to a Achilles Tang in event 170861 (an event in California) and received no custom notification at 11a. This is probably related to my last comment, but throwing it here so you have more data.

Now I'll stop testing until you tell me to restart testing.

[2020-04-23 17:54] aaronstephenson commented on #361
Thanks for all the details @JChipault it really helps. Regarding the last comment about Achilles Tang, that wouldn't show up until tomorrow; the checks are still looking at changes made yesterday.

For testing purposes, would you like the change detection to be for today instead?

[2020-04-23 22:38] aaronstephenson commented on #361
OK, everything reported here should be fixed by e931ab2c.

@JChipault @nbaertlein  please resume testing at your convenience.

Note that the change detection is still looking for changes made the previous day, please let me know if you want that changes to the current day for the duration of testing.

[2020-04-24 18:59] JChipault commented on #361
Good news! I added a species dx yesterday and received a Your Events and Custom notification today as expected and all looks good.

I would prefer to be able to test adds/edits/deletes throughout the day but I don't know how much recoding that is for you.

[2020-04-24 19:02] aaronstephenson commented on #361
Good to hear!

And the date check is a super simple change, I'll do it right now.

[2020-04-24 19:05] aaronstephenson commented on #361
Done. Changes will be detected for the current day.

During testing, Standard Notifications will be processed on the hour at 3,10,12,14,16 and Custom Notifications will be processed at 4,11,13,15,17 (all times Central).

[2020-04-27 14:48] BlakeDraper commented on #362
@JChipault that's correct - most recent on top for all three.

[2020-04-27 16:36] JChipault commented on #361
Any chance we can get the cause and basis for species diagnoses interpreted? They just say "1"

![image](https://user-images.githubusercontent.com/49287076/80397175-5e241780-887b-11ea-948d-821ee3d572c9.png)

[2020-04-27 16:47] aaronstephenson commented on #361
Absolutely. Sorry, oversight when I implemented all the other lookups.

[2020-04-27 16:56] aaronstephenson commented on #361
Implemented in 445b18f0

[2020-04-27 19:35] JChipault commented on #361
Thanks, that looks good now

[2020-04-27 19:46] JChipault commented on #361
Next suite... at 1045 today I logged in as the abilenetest user (first name: Abilene, last name: Zoo) and added A) the species diagnosis of Duck Viral Hepatitis suspect and B) location comment of "adding a comment to test". At 12p, I got two Standard notifications about this change:
![image](https://user-images.githubusercontent.com/49287076/80413343-f7abf300-8894-11ea-947e-aa75df637404.png)

Few

[2020-04-27 20:17] JChipault commented on #361
Ran another round of tests with results coming in at 3p. Overall, pretty darn good! I'm impressed. I made a lot of changes to 170864 and the only change that didn't come through was the fact that I added an event organization... but maybe that's to be expected based on what tables are getting pinged?

[2020-04-27 20:25] BlakeDraper commented on #361
@JChipault we are glad to hear that! Yes,event org is not among the models checked.

Event `modified_by` and `modified_date` fields are updated when the following models are saved (creates and updates) or deleted:

- Event
- EventLocation
- EventLocationContact
- EventLocationFlyway
- LocationSpecies
- EventDiagnosis
- SpeciesDiagnosis
- SpeciesDiagnosisOrganization
- Comment (only when attached t

[2020-04-27 21:53] aaronstephenson commented on #361
@JChipault I can include Event Organization, it should only take an hour or so.

[2020-04-27 23:29] aaronstephenson commented on #361
Saves and deletes of Event Organization (and also Event Contact) now update Event `modified_date` and `modified_by` fields, and are also included in the updates list in notifications. Implemented in 7a15b8e7

[2020-04-28 13:39] JChipault commented on #361
Doing more testing today. It's exciting to be so close to done; and so awesome to have the fields that were changed noted within the notifications!

Just wanted to make sure the quirks reported in the "Next suite..." post above is still on the radar to be assessed.

[2020-04-28 14:33] aaronstephenson commented on #361
Yes still on the radar.

[2020-04-28 16:35] JChipault opened #372 "not getting notifications about deletions"
In event 170880, I deleted a species of goose and also deleted an event org when I made all these other changes and I did not get notified about the deletions.

![image](https://user-images.githubusercontent.com/49287076/80513193-4e243a80-8944-11ea-8e70-c0355558bbc6.png)

[2020-04-28 18:41] JChipault commented on #361
Looks like you over-achieved on the addition of the event org... we got an extra "was"
![image](https://user-images.githubusercontent.com/49287076/80524875-f68eca80-8955-11ea-954c-40e0884118fd.png)

[2020-04-28 21:00] BlakeDraper opened #373 "Private field data showing in notifications for unauthorized users"
As first reported here: https://github.com/USGS-WiM/whispers/issues/1005

There are private field details coming through in notifications for users who should not have access to those details.

[2020-04-30 15:16] JChipault commented on #361
I'm getting notifications about event comments via "All Events" and "Your Events" now... will do some more testing today to check if location comments come through and if custom notifications serve up comments now.

[2020-04-30 17:01] JChipault commented on #361
I added both an event comment and a location comment to 170880 and got the notification below. Looks like location comments are not coming through.
![image](https://user-images.githubusercontent.com/49287076/80738289-61690e80-8ada-11ea-8e82-541cfd5027ee.png)

[2020-04-30 17:44] aaronstephenson commented on #373
I have a solution written, just need to test it.

[2020-04-30 18:35] JChipault commented on #361
Same results regarding comments on the custom notifications
![image](https://user-images.githubusercontent.com/49287076/80746438-82842c00-8ae7-11ea-876a-cfe7b71ce287.png)

[2020-05-01 18:56] BlakeDraper opened #374 "Hosting documentation apps"
Just starting the discussion - any thought on how we wish to host the API docs and the client code docs (something I am throwing in the mix late because we have it)? Not that I think the answer is complicated - right on the EROS server I imagine. I guess we mainly need to discuss URL paths.

`/api/documentation`
 and maybe `/whispers/codedocs` ?

[2020-05-01 19:00] aaronstephenson commented on #374
I planned to put the API docs at `/api/docs/`

I think this is the first I'm hearing about client code docs. What is it?

[2020-05-01 19:30] BlakeDraper commented on #374
It uses this package: https://compodoc.app/

To auto-generate documentation of the codebase. Here is a screenshot.

![image](https://user-images.githubusercontent.com/6978380/80835371-3ce36400-8bb8-11ea-9eae-5081db6b031e.png)

It's pretty neat. You can also run it yourself locally if you do a fresh `git pull` of whispers from dev, run `npm install` and then follow the instructions in the README un

[2020-05-01 21:20] aaronstephenson commented on #373
Fixed in 8dc63d1a

[2020-05-01 21:21] aaronstephenson commented on #361
All bugs reported here should now be fixed with latest commit 9ba5dfc2

[2020-05-01 21:21] #361 closed

[2020-05-01 21:22] aaronstephenson commented on #372
This was fixed in 9ba5dfc2

[2020-05-04 15:22] JChipault commented on #372
I just deleted a species and an event org (user jchipault in 170872) and did not get notified.

[2020-05-04 17:37] aaronstephenson commented on #372
I looked through the notification table and you did receive a few notifications for Event 170872 that includes "An Event Organization was unassigned: Arkansas Game and Fish Commission - Barling" in the updates list.

But yeah, looks like the Location Species 298309 (Achilles Tang) deletion was not included. Not sure why. Our initial testing showed deletes. I'll look into it.

[2020-05-04 18:04] JChipault opened #375 "collaborator can't delete"
In testing the notifications today I noticed that when in the event details interface the abilenetest user can't delete most fields in 170872, on which they are a read/write collaborator. I couldn't even delete a species that I had just added when logged in as abilenetest.

I'm hopeful that it's just some recent change that accidentally affected this permissions and therefore maybe an easy flip ba

[2020-05-04 18:37] aaronstephenson commented on #372
Fixed in ee6943e0

When I refactored the history processing on Friday, I overlooked LocationSpecies. Easy fix once identified.

[2020-05-04 21:16] JChipault opened #376 "did not receive All Events notification about a comment"
Here's my standard notification settings:
![image](https://user-images.githubusercontent.com/49287076/81014212-16c0fc80-8e22-11ea-89fb-2dfab4177af1.png)

Here's the comment I made on event 10033 and never got a notification about:
![image](https://user-images.githubusercontent.com/49287076/81014333-47a13180-8e22-11ea-89b4-a8fbe662374a.png)

[2020-05-04 22:50] aaronstephenson commented on #376
Fixed in c9e02b35

[2020-05-04 22:50] #376 closed

[2020-05-04 22:54] aaronstephenson commented on #375
This is not a bug but a deliberate decision and it was not introduced recently; it has been this way for quite a long time. Delete is distinct from update. Currently only super_admin, admin, or the object's creator or a manager or admin in the object creator's organization can delete events or event child objects.

Changing this behavior would not be difficult, but I need to discuss it with @Blake

[2020-05-05 15:05] BlakeDraper commented on #375
@JChipault Just seconding Aaron on this one - this was a design decision made some time ago with the WHISPers team, though I don't remember exactly when. I believe the conclusion was that deletion of a record is a pretty serious action (tracked in the history tables, but otherwise gone into the ether) and that it should not be available to a collaborator. If the thinking has changed on that, we'd

[2020-05-05 20:07] JChipault commented on #372
I deleted the species double-crested cormorant from 10060 and this is what I got:
![image](https://user-images.githubusercontent.com/49287076/81111029-02dccf80-8ee2-11ea-87b4-91ca52bd72d2.png)

The things I'm being notified about are not wrong, but the cormorant deletion seems to be missing

[2020-05-05 20:48] aaronstephenson commented on #372
Fixed in e80ceecf

[2020-05-05 20:48] #372 closed

[2020-05-06 17:11] JChipault commented on #373
Seems like a lot of the private fields are appropriately hidden but some are still coming through. In the screenshot below, I'm logged in as neilpartner (organization = Woods Hole) and I can see too many details about an event updated by NWHC.

1) the location name is tagged on to show that a new location was created but location name is a private field. Couple of options: just state that a locati

[2020-05-06 18:14] aaronstephenson commented on #373
Fixed in 5f68f7b2

Location name substituted with county, state, country.

All new/updated/deleted comments, and contacts, are assessed to determine if the recipient has permission to see them.

[2020-05-11 18:05] JChipault commented on #373
I did some thorough testing and there are 5 numbered issues noted below amid the text that describes the scenario....

On Sunday 5/10, I added/changed ALL the fields in 170880 from jchipault (NWHC org) account.

When I looked at the notification received by abilene test (Abilene Zoo org), three things slipped through that shouldn't have because they are private fields: (1) Event public changed fro

[2020-05-12 01:20] aaronstephenson commented on #373
Thanks Jenny. So in summary:

- Changing an event from public to private should impose restrictions on notifications
    (Note that this field is not listed in the Business Rules doc)
- Species Diagnosis `cause` and `basis` fields should not be visible to the public
- Event `staff` (aka epi) field should only be visible to NWHC.

I have implemented these changes, and tested them locally in my dev

[2020-05-12 15:32] JChipault commented on #373
I tried to re-test but did not receive any 10a notifications... maybe they're not running hourly anymore?

[2020-05-12 15:56] nbaertlein commented on #371
Circling back around on this one.  4 accounts were created yesterday, but we received the change request notification on only 2.  Attached is a spreadsheet of user accounts created since 4/16, with sql code, that links 3 tables: user, userchangerequest, and notification ("User Account Change Request" only).  Most are notifying correctly, 3 have missed and are highlighted in orange.
[Partner_reques

[2020-05-12 16:07] JChipault commented on #373
So I changed 3 events before 10a that were all created by me and had locations in California (170872, 170879, 170880). I did not receive any standard notifications at 10a even though my "Your Events" notification is on. And at 11a I only received 2 notifications (170879, 170880)... so is 170872 acting up again (we had another github ticket about that event, I think)?

[2020-05-12 16:16] JChipault opened #379 "JSON error when editing event group information"
I'm hitting some JSON errors on the test site in both firefox and chrome when I try to edit event groups in my dashboard (change type, remove an event, or edit event group comment). I checked and I'm not logged into the API.

Here's firefox:
![image](https://user-images.githubusercontent.com/49287076/81718769-c52bf980-9441-11ea-94c7-0c5c94e62c92.png)

and a slightly different message if I try in c

[2020-05-12 17:43] aaronstephenson commented on #371
Thanks @nbaertlein. Do you happen to know the requested role IDs of the 3 that failed?

[2020-05-12 17:49] nbaertlein commented on #371
From newest to oldest, the requested role IDs were 3, 4, and 5.

[2020-05-12 18:34] aaronstephenson commented on #371
Thanks @nbaertlein, I found the source of the problem. The celery logs show an error during the notification creation task:
```django.db.utils.DataError: value too long for type character varying(128)```
which is in reference to the `subject` field, which has a max length of 128 characters.

The 3 failures you report came from 2 organizations which, combined with the boilerplate prefix for the sub

[2020-05-12 19:01] nbaertlein commented on #371
That makes sense.   We'll manage it from the data side so no code changes needed.  Are any subject templates referred to in code?  Wondering if we could also shorten "User Account Change Request" text in the template table to something like "Account request".

@JChipault We'll need to shorten a few of the org names.  At minimum, to avoid the issue above, we'll need to trim names longer than 100 ch

[2020-05-12 20:55] aaronstephenson commented on #373
The problem was a bad query that I introduced yesterday to check permissions for the Species Diagnosis basis and cause fields. I wrote it to use the event ID field of that model, but of course Species Diagnosis doesn't have an event ID. Ugh. So the fix was to just go up the relationship tree to get the parent event ID.

Fixed in ae5d77b4

[2020-05-12 20:56] aaronstephenson commented on #371
I went ahead and added a snippet of code in the notification generator to check for overlong subject lines, and email the NWHC admins with details if that happens, rather than silently fail when encountering that error.

Implemented in ae5d77b4

[2020-05-12 20:56] #371 closed

[2020-05-13 20:54] JChipault commented on #373
Getting closer.....

170819 was switched from "Not Visible to the Public" to "Visible to the Public" by user jchipault. User abilenetest (who is not a collaborator on this event) got an "All Events" notification with the following:
![image](https://user-images.githubusercontent.com/49287076/81863664-2f6f9780-9531-11ea-83fb-261a4c01c079.pn
![image](https://user-images.githubusercontent.com/49287076

[2020-05-13 21:29] aaronstephenson commented on #373
So, this is not a notifications problem.

User abilenetest received the information they were supposed to have received. The problem is that the Event `public` field is not visible to unprivileged users, and it appears that the client relies on that field to show various data. I don't think that field has ever been visible to unprivileged users (the logic being, why show that field to an unprivile

[2020-05-13 21:39] JChipault commented on #373
abilenetest is not the event owner, in the event owner's org, or a collaborator on the event so that user should get no notifications if the event is switched from "Not Visible to the Public" to "Visible to the Public" or vice versa because that "Public" field is part of the privileged data. Just like abilenetest shouldn't get a notification if the location name is changed.

[2020-05-13 21:41] JChipault commented on #373
What's being displayed on the frontend of the Event Details Page was a separate confusing issue to me (not related to notifications, so maybe a better fit for Blake's queue)

[2020-05-13 21:47] aaronstephenson commented on #373
Ah yes I see now. I will include the `public` field in the permissions check in notifications.

Once again, like most of the issues in the last week or so, we're dealing with a "private" field that is not even listed in the Business Rules spreadsheet. I based most of my notifications field visibility on that doc.

I'll have this fix published shortly.

[2020-05-13 21:54] aaronstephenson commented on #373
Fixed in 4e159f9e

[2020-05-14 14:13] BlakeDraper opened #377 "Breaking change in the auth response on dev server"
A breaking change has appeared in the dev server where the response from an auth request has been diminished. First image is from test server, which is the correct way (or at least what the client is expecting) and second image is what dev server is now returning, which is preventing login entirely.

![image](https://user-images.githubusercontent.com/6978380/81944654-adc84a00-95c2-11ea-8aa6-7414db

[2020-05-14 16:39] aaronstephenson commented on #373
For the client app display issue, I have added a new field in 82ac344b that the client app will use to determine what to show for event details.

[2020-05-14 17:02] aaronstephenson commented on #377
Fixed in a5a53841

[2020-05-14 17:02] #377 closed

[2020-05-14 18:58] BlakeDraper opened #378 "Various issues with creating/logging in with a new user in dev services"
May be best to do a screenshare - i get errors when creating a new user, but its created anyway, but then the username password does not work, and then I am unable to delete the user.

[2020-05-14 20:20] BlakeDraper commented on #378
Since I was unable to create a new user, I changed the org of the affiliateTest user (role: affiliate) and I was able to do that, but now any request made with that user results in this error:
![image](https://user-images.githubusercontent.com/6978380/81981605-25fc3300-95f6-11ea-9ee5-ee1ea67ebea2.png)

Traceback is too long to share here, as you can imagine given the recursion error. But you can s

[2020-05-14 20:50] aaronstephenson commented on #378
Infinite recursion caused by the requested org having itself as its parent org. Solution is to clean up those records in the dev DB (done just now).

[2020-05-14 20:50] #378 closed

[2020-05-14 21:22] nbaertlein opened #380 "Partner request issues on test site"
Issues on user account requests that on the surface appear related to USGS-WiM/whispers#371 but I think is more.
Partner user account requests are not writing to table whispers_userchangerequest and therefore not to whispers_notifications requesting a role change.   Completing the form also throws a toast message stating the comment cannot be blank, but I can click 'Submit' again and it goes throu

[2020-05-14 21:32] BlakeDraper commented on #379
@aaronstephenson any ideas on this one? never seen this message before.

get() returned more than one EventEventGroup -- it returned 2!

![image](https://user-images.githubusercontent.com/6978380/81987750-e5091c00-95ff-11ea-93af-c3609f3e4ec6.png)

[code]

[code]

also odd that if I go to that eventgroup records, everything seems fine:
![image](https://user-images.githubusercontent.com/6978380/8198

[2020-05-14 21:45] aaronstephenson commented on #379
The error is occurring in a code block that updates the Event modified_date and modified_by fields, after all the saves have completed, which is why all the objects exist when you query them.

Fixed in 4921fd35

[2020-05-14 21:45] #379 closed

[2020-05-14 22:01] aaronstephenson commented on #380
OK, I'll take a look.

The skips in the IDs are from the just-created users being deleted when a down-stream error is encountered:
[code]

[2020-05-14 22:02] aaronstephenson commented on #380
@nbaertlein what were the requested orgs and roles for the users you referenced above?

[2020-05-15 14:39] JChipault commented on #379
working now for me. Thanks!

[2020-05-15 15:39] nbaertlein commented on #380
User ID | Requested Role | Requested Organization | Requested Organization ID
-- | -- | -- | --
126 | PartnerAdmin | U.S. Geological Survey - National Wildlife Health Center | 2
124 | PartnerManager | Nevada Department of Wildlife - Las Vegas | 598
122 | PartnerManager | Southeastern Cooperative Wildlife Disease Study - University   of Georgia | 914
119 | unknown - Probably ParnterManager | unknow

[2020-05-15 17:52] aaronstephenson commented on #380
Through some more testing, I'm almost 100% certain that the problem lies with the comment. The client app says it is optional, and the API defines the serializer comment field as `required=False`, but DRF was _still_ requiring it, and returning an error saying so (the toast message you saw). Thus you were seeing the user record and notifications successfully created, but no user change request rec

[2020-05-20 19:18] nbaertlein opened #381 "Errors on web api"
I'm getting a little wonkiness with the web services today in both posting and reading data.  The latest has been a TypeError and something not being JSON serializable at https://whisperstest.wim.usgs.gov/whispersservices/userchangerequests/

similar errors presented with https://whisperstest.wim.usgs.gov/whispersservices/organizations/1759/ of which was entered via the database.

[2020-05-20 19:42] aaronstephenson commented on #381
UserChangeRequest problem fixed by 4e071c8a

Organization problem is just that org 1759 has a null value for its `created_by` field, which is essential for determining permissions.

[2020-05-20 19:42] #381 closed

[2020-05-21 13:39] nbaertlein commented on #381
@aaronstephenson I'm getting a similar error now when try to post another organization (see pic below).  I was successful posting the following to the live site, but not the test.
{
    "name": "National Park Service - Haleakalā National Park",
    "private_name": "NPS - Haleakalā National Park",
    "address_one": "PO Box 369",
    "city": "Makawao",
    "postal_code": "96768",
    "administrativ

[2020-05-21 14:15] aaronstephenson commented on #381
This was caused by a piece of code I added in the last week, that was supposed to act as a last-resort check against an org's parent org being itself, but I forgot to test the situation where the parent org field was null. Fixed in 31901573

[2020-05-22 13:07] JChipault opened #383 "collaborator alert with wrong name"
I watched Kim do a demo and she sent out a collaborator alert and I was in her collaborator circle. I received the following notification that has her comment but says it's from Robb Kaler.....
![image](https://user-images.githubusercontent.com/49287076/82670674-32d6e300-9c03-11ea-8c08-1741c1ae48e8.png)

[2020-05-22 16:32] aaronstephenson commented on #383
Sorry about that. It appears that I re-used a variable name, which changed the value of the source variable. Fixed in 8c1a0c07

[2020-05-22 16:32] #383 closed

[2020-05-27 16:06] BlakeDraper commented on #287
@aaronstephenson bumping this one up your queue.

[2020-05-27 19:18] aaronstephenson commented on #287
Implemented in 2e8b5aa8

I set it up as a nightly scheduled task with celerybeat.

[2020-05-27 19:18] #287 closed

[2020-05-28 00:31] nbaertlein commented on #380
We're still having issues with this one.  We had 2 users sign up recently and they were getting errors and had to click again to get it to work.  The most recent was user 'elankau' who clicked submit 4 times before it successfully created account.  Still no user change request though.  Emily provided the following in the partner form:

Role - PartnerAdmin
Org - NWHC
Comment - yes - I included a no

[2020-05-28 13:50] nbaertlein commented on #380
Additional details from user 'nkudla':
I only remember trying to register once.
1) Natural Resources Mgt Pro.
2) Partner role.
Org: NWHC
Comments: *none

[2020-05-28 16:19] aaronstephenson commented on #380
It seems the cause of this bug was the definition of the `comments` field (distinct from `comment`) on the UserChangeRequestSerializer. The serializer was expecting the `comments` field to be submitted in the POST, which is not what we want at all (it's supposed to be a read-only field that lists existing comments). The fix was to update the field definition to include `read_only=True`.

Implement

[2020-06-01 19:12] JChipault commented on #363
I'm guessing we won't get line breaks, but could it say "sent" instead of "send" and also can the colon before my name in the example above not have a space before it?

[2020-06-02 15:33] aaronstephenson commented on #363
Change to "sent" and removal of space before colon implemented in 47c7cce6

[2020-06-08 20:33] nbaertlein opened #385 "No stale event notification"
We have not received any stale event notifications.  Notification period configuration was recently updated to 1, 2, & 5 days, but still haven't seen anything.

[2020-06-09 00:39] aaronstephenson commented on #385
This was caused by a combination of two things:

1. The configuration value for the `stale_event_periods` record was in the wrong format; the value should be a plain string, with a series of values being represented as a string with comma separators (e.g., `1,2,5`), but the value that was actually in the cell was `[1,2,5]` . The latter is the proper way to write a list in python, but in this case

[2020-06-09 00:39] #385 closed

[2020-06-12 16:59] machristie opened #386 "Require email verification before activating new users"
Since WHISPers sends users email notifications, it would be good to verify that the email address entered by the user is correct. Also as a security check, this would verify that the user actually owns the provided email address.

The general flow will be something like this:
- user account is requested like normal
- a secure random string is associated with the new user record. The user record ha

[2020-06-12 17:06] machristie commented on #386
Hi @aaronstephenson , I'm working on adding email verification to the user account creation process. A key aspect of that is storing a secure random string that will be used to verify the user's email account (see the issue description above for details).  In looking at the User model I noticed that it has an [active_key](https://github.com/USGS-WiM/whispersservices_django/blob/master/whispersserv

[2020-06-12 17:11] aaronstephenson commented on #386
It's been years since we established the extra fields on the User model, and I don't remember what `active key` was for. I do know that it's not used anywhere in the code, so I say feel free to use it for verification.

[2020-06-12 18:24] machristie commented on #386
Thanks @aaronstephenson

[2020-06-16 14:11] JChipault opened #388 "additional comment attached to a service request not notifying the right people"
So it looks like when someone makes comments in the service request section of an event that are NOT attached to the initial request, then the person that made that subsequent comment is the person getting the notification. Below is the notification that got sent to jchipault@usgs.gov when jchipault made a comment on the event.

![image](https://user-images.githubusercontent.com/49287076/84780356-

[2020-06-17 15:40] lprivette opened #387 "is_staff field not present when attempting login"
**Steps to reproduce**:
1. In client click 'General User' and create a new one
2. Attempt to login with the user you just created

Client error is caused by the `is_staff` field being 'undefined' instead of false or true.

I'm unsure if this is intentional and the client needs to handle this differently or if `false` should be be set for this field on account creation.

Response: `{"id":78,"organi

[2020-06-17 19:50] aaronstephenson commented on #387
Thanks Lauren. This was caused by the refactored UserSerializer not returning all fields to the /auth endpoint. Fixed in 592058ab

[2020-06-17 19:50] #387 closed

[2020-06-18 14:52] BlakeDraper commented on #388
@aaronstephenson this will be more in your court so transferring to you. Let me know if you need any of my support for this one.

[2020-06-18 16:36] aaronstephenson commented on #388
So, I think this is a lot simpler that it may seem. I mistakenly assigned  the comment creator as the notification recipient in one case, when the recipient should be nwhc-epi or HFS (the 'else' block here: https://github.com/USGS-WiM/whispersservices_django/blob/notifications/whispersservices/serializers.py#L403).

The fix is simple. Implemented in 35ce7f97

[2020-06-18 18:23] lprivette opened #389 "Error on event POST"
**Error**:

[code]

**JSON**:
[code]

**TRACEBACK**:

[code]

[2020-06-18 18:48] BlakeDraper opened #390 "Error on /user_events/ custom action"
Trying to retrieve user events (part of the user dashboard) the server just hangs up for a long time. No django error response. Eventually this returned:

![image](https://user-images.githubusercontent.com/6978380/85060136-55104200-b16a-11ea-8794-f915b3aefb14.png)

https://whispersdev.wim.usgs.gov/whispersservices/eventsummaries/user_events/?ordering=-start_date&page=1&page_size=5

[2020-06-18 19:24] JChipault commented on #388
@BlakeDraper can you let me know when this fixed has been pushed to test?

[2020-06-18 19:53] machristie opened #391 "Errors on startup with new Configuration model"
I checked out notifications branch and when I ran `python manage.py runserver` I got the following errors:

[code]

The problem is that my database doesn't yet have the Configuration migrations, but I'm neither able to start the Django server nor am I able to run `python manage.py migrate`. I think the problem is that these Configuration queries are run on import in serializers.py and views.py.

I

[2020-06-18 21:20] machristie commented on #386
Hi @aaronstephenson , another question. Neil mentioned that you're currently working on revamping notifications, so I checked out that branch. Seems like I should send the email with the email verification link as a notification, using `immediate_tasks.generate_notification`, since that seems like the new approach.

Is my understanding on the right path? When I have my code changes ready, should I

[2020-06-19 16:09] BlakeDraper commented on #388
@JChipault sure thing. It is a backend update so it won't be part of the regular emails I send you guys with new releases published.

So that change addresses the bug that was causing the emails to go to the wrong recipient. But you also proposed a whole new approach in the comment above. If that is something you want to pursue, could you create a separate issue for it and we will label it for fut

[2020-06-19 16:59] BlakeDraper commented on #390
strangely enough I just _did_ get a response from this endpoint, tho I cannot recreate that success.
![image](https://user-images.githubusercontent.com/6978380/85160066-02935c00-b224-11ea-80f6-4dec223106c3.png)

![image](https://user-images.githubusercontent.com/6978380/85160672-425a4380-b224-11ea-9985-4a50265a0707.png)

 but also note that the request was for a page size of 5 and 21 results retur

[2020-06-19 17:01] BlakeDraper commented on #390
Tried this exact same request right after using Insomnia and got a 504 gateway timeout after 5 minutes had passed.

[2020-06-19 18:52] BlakeDraper opened #392 "error retrieving eventsummaries when requesting user is not event owner"
![image](https://user-images.githubusercontent.com/6978380/85170956-c23bda00-b233-11ea-8ec2-55c81f6be52f.png)

This event is owned by admin,and requesting from that account does produce a response, but is not retrievable at all by the wimPartnerUser account. Non-owner accounts should still have access to the event (unless public = false), but with appropriate permissions and fields. In this case t

[2020-06-22 20:23] aaronstephenson commented on #392
Thanks. This one was just a bad query there on line 4782 (an event does not have an 'event' attribute, natch). I'm glad you found this, because I made the exact same mistake on a few other seriliazers and have now corrected them all. Fixed in a56130ce

[2020-06-22 20:23] #392 closed

[2020-06-22 20:23] aaronstephenson commented on #389
Thanks. Turns out the new approach to serilalizers broke the way I had set up the 'FULL_EVENT_CHAIN_CREATE', which is now fixed in a56130ce.

[2020-06-22 20:23] #389 closed

[2020-06-22 20:58] aaronstephenson commented on #390
I've noticed that the django-filters library takes noticeably longer compared to our original filtering code, to handle the exact same request. I think that, combined with the enormous amount of objects that need to be looped over to put together the EventSummary response, is just too much for the server to handle.

I'm not sure what to do. I half tempted to revert this one endpoint to our origina

[2020-06-22 21:00] BlakeDraper commented on #390
Let's just do this. This endpoint and the filtering is a critical touchpoint for the client so we really cannot afford for the performance to be compromised. If its easy enough to manually include these params in the docs, seems like an easy decision to me.

[2020-06-23 03:09] aaronstephenson commented on #390
Turns out the cause of the problem was just a forgotten negation on a logic expression. Fixed in f33af978. Your query example above now takes about 500 ms.

[2020-06-23 03:09] #390 closed

[2020-06-23 03:17] aaronstephenson commented on #386
Yes, use the `notifications` branch. The `master` branch is hundreds of commits behind and we have completely changed our approach to contacting users.

That said, which of the two functions in immediate_tasks.py you should use depends on what you want to do. Do you want to create a notification and/or an email, or do you want to create only an email? If the latter is the case, then use `immediate

[2020-06-23 17:59] machristie commented on #386
@aaronstephenson I suppose I only want to create an email, but I don't quite understand the difference between an email and a notification. Is the distinction that notifications would display on the User Dashboard? In that case, I suppose there's no need to have a notification since the verification link itself will only be temporarily valid and the user won't see the notification until they verif

[2020-06-23 18:27] aaronstephenson commented on #386
Yes you have it exactly. The notification is only used in the client app.

[2020-06-23 21:26] BlakeDraper opened #393 "api-docs branch: event details response has changed, breaking client"
after recent changes. see comparo below.

test env on left (the correct response) and dev env on right ( the changed/broken one). note these are different events so not apple to apple comparison but demonstrates response structure

![image](https://user-images.githubusercontent.com/6978380/85464832-b3279580-b56d-11ea-9830-13fbf1f68f4e.png)

the JSON:

correct, from test env:
[code]

incorrect, fro

[2020-06-24 18:34] aaronstephenson commented on #393
Fixed in 3c310e59

[2020-06-24 18:34] #393 closed

[2020-06-26 18:29] lprivette opened #394 "Error on event POST"
problem with the cert path?

**Error**:
[code]

**Json**:
[code]
**Traceback**:
[code]

FILES: No FILES data

COOKIES: No cookie data

[2020-06-29 20:21] aaronstephenson commented on #394
Ugh, sorry about that, just forgot to put a certificate file in the right place.

Also, note that I moved the API-Docs branch. It is now accessible at https://whispersdev.wim.usgs.gov/api-docs/whispersservices/ (the old URL now hosts the Notifications branch, as before).

[2020-06-29 20:21] #394 closed

[2020-07-01 14:53] machristie commented on #386
Hi @aaronstephenson . I recently met with Neil to discuss progress on this issue and he asked about the email with the verification link, if it would be configurable. I explained that the way I have it now, the subject and body of the email verification template is hardcoded. Since it's not a notification, it didn't seem appropriate to use the NotificationMessageTemplate. Neil wondered if perhaps

[2020-07-01 17:39] aaronstephenson commented on #386
I think it depends on the content of those two fields.

If they are both static text, you can certainly use the Configuration table for this and add two records, one for the subject and one for the body, perhaps with names like `verification_email_subject` and `verification_email_body`.

If either of them requires variable substitution, just use NotificationMessageTemplate. Yes, email verification

[2020-07-02 14:37] JChipault commented on #388
@BlakeDraper has this change been pushed to test? Trying to determine when I should check it again.

[2020-07-02 14:53] BlakeDraper commented on #388
@JChipault Yes, you can go ahead and test.

[2020-07-02 15:46] machristie commented on #386
@aaronstephenson thanks, yes, they have variable substitution. I'll use the NotificationMessageTemplate.

[2020-07-02 17:30] JChipault opened #395 "stale event notifications issuing twice"
There have been at least a couple of times that the stale event notifications have gone out twice in the same night (at two different times). Here's a screen shot from my email from Tuesday morning (6/30).

![image](https://user-images.githubusercontent.com/49287076/86389972-cd8ffc00-bc5c-11ea-8871-d0fd9ac612c7.png)

This also happened on Monday 6/15.

Any ideas?

[2020-07-02 17:32] JChipault commented on #395
Ha! It was only after posting this that I noticed it was 5 AM and 5:33 PM... I was thinking it was all AM. So maybe it's just that some update was pushed around 5:33 PM that made the notifications go out again??

[2020-07-02 17:39] aaronstephenson commented on #395
Yes, this will occasionally happen when the daemons are restarted.

[2020-07-02 20:24] lprivette opened #396 "Error on Event Group POST"
**Error**:
[code]

**JSON**:
[code]

**Traceback**:

[code]

[2020-07-02 21:21] lprivette opened #397 "500 Error on Event Details of newly created event"
Note this error does not occur when doing GET from postman/insomnia but does occur in the client.

**Error**:
[code]

**Traceback**:
[code]

[2020-07-02 21:29] aaronstephenson commented on #396
Fixed in 41e5d86c

[2020-07-02 21:29] #396 closed

[2020-07-02 21:34] lprivette opened #398 "500 Error on Search query"
**Error**:
[code]

**Traceback**:
[code]

**Query String Parameters**:
[code]

[2020-07-06 17:41] aaronstephenson commented on #397
Fixed in 2de6b280

[2020-07-06 17:41] #397 closed

[2020-07-06 17:53] aaronstephenson commented on #398
Fixed in 4d96d1c5

[2020-07-06 17:53] #398 closed

[2020-07-06 22:11] JChipault commented on #388
On 7/1, I logged in as abilenetest and made 3 comments in the service request area for event 170873 (owned by JChipault)

On 7/2, I logged in as JChipault and made a comment on abilenetest's service request and on JChipault's service request for event 170873.

On 7/2, I logged in as abilenetest and made a comment on JChipault's service request for event 170873.

In looking at the snapshot of the n

[2020-07-07 15:29] BlakeDraper opened #399 "api-docs branch: error on /searches/top_ten/"
![image](https://user-images.githubusercontent.com/6978380/86802470-acebeb80-c03a-11ea-8e60-3be8e9e9b6d2.png)

[code]

[2020-07-07 15:41] BlakeDraper opened #400 "api-docs branch: count error on /eventsummaries/get_count/"
I've noticed a lot of the requests with query params erroneously return the count for all the events in the database (in this case 8348). I tried a bunch of different query param combos that result in this response. This is just one example. There are some that seem to return a more accurate result but I have not fleshed out the deciding factor. Let me know if you need a deeper dive.

![image](htt

[2020-07-07 15:57] BlakeDraper opened #401 "api-docs branch: error on /eventsummaries/get_user_events_count/ when passing multiple AL1 values"
The only error I found was sending two AL1 values - in this case MN and WI.

![image](https://user-images.githubusercontent.com/6978380/86808251-4c5fad00-c040-11ea-8b69-c43823c89a3d.png)

[code]

[2020-07-07 16:46] BlakeDraper opened #402 "api-docs branch: eventlocations array not populating on /eventdetails response"
I have not tried every combo, but both anon/not auth gets blank, along with admin.

Example: https://whispersdev.wim.usgs.gov/api-docs/whispersservices/eventdetails/10033/

[2020-07-07 21:03] aaronstephenson commented on #402
Fixed in 1133fe21

[2020-07-07 21:03] #402 closed

[2020-07-08 15:25] aaronstephenson commented on #401
Fixed in 40bf9746

[2020-07-08 15:25] #401 closed

[2020-07-08 16:13] aaronstephenson commented on #400
@BlakeDraper  I took a closer look at this, and I think the problem, at least in the case that you illustrate, is that there are two query params for the `affected_count` field: `affected_count__gte` and `affected_count__lte`. `affected_count` alone is simply ignored by Django. What param(s) is is client app using for the `affected_count` field?

Can you give me other examples that I can test?

[2020-07-08 16:36] aaronstephenson commented on #399
Fixed in 60def497

[2020-07-08 16:36] #399 closed

[2020-07-08 16:42] BlakeDraper commented on #400
OK I see what happened here. The client does use `affected_count__gte` and `affected_count__lte`. My saved Insomnia request was created a while ago, before that update was made. I did not catch that it was out of date. So that explains my 'example'. Before you close, I'll see if I can confirm any other erroneous responses.

[2020-07-08 17:05] BlakeDraper commented on #400
Ok, tried a bunch. I can no longer confirm a problem here. I had at least one other embarrassing querying mistake amounting to user error. I think this one can be closed. Thanks for looking into it though.

[2020-07-08 17:07] aaronstephenson commented on #400
No worries, your testing was an immense help!

[2020-07-08 17:07] #400 closed

[2020-07-09 17:52] aaronstephenson commented on #388
I have dug into this. The code works fine locally in my dev environment. The problem appears to be that celery on the server is not getting the requests. Not sure why, but I'll keep looking.

[2020-07-15 20:58] JChipault commented on #388
Emails are coming through now (Hooray!) but they are all going to whispers@usgs.gov.... is that simply because it's in the test env and emails would be directed differently when we go live?

[2020-07-15 21:28] aaronstephenson commented on #388
The source for all these Services Comment notifications that were created today were you and abilene test, so the recipient will be the epi user (see the code [here](https://github.com/USGS-WiM/whispersservices_django/blob/notifications/whispersservices/serializers.py#L406)). In the test environment, that user is the same as the WHISPers admin user, as set in the configuration table, which you can

[2020-07-24 20:33] machristie opened #403 "Create data migration to create expected lookup table records"
The code expects that certain records already exist in the database. For example, the code assumes that the following Role records exist:
- SuperAdmin
- Admin
- PartnerAdmin
- PartnerManager
- Partner
- Affiliate
- Public

I've encountered these issues while developing on the code in my local dev environment, where my local database is brand new. While it hasn't been too hard to add these missing

[2020-07-24 20:35] machristie commented on #403
Hi @nbaertlein , here's the issue for documenting lookup tables. Can you  add the database tables that you know of that contain lookup values? Thanks.

[2020-07-28 14:35] machristie commented on #386
Hi @aaronstephenson . I have the code commits on a branch I made off of the notifications branch. I'm planning to submit a PR to merge these into the notifications branch. Does that sound good? Thanks.

[2020-07-28 20:10] aaronstephenson commented on #386
@machristie yes that sounds good, thanks.

[2020-08-13 17:50] nbaertlein commented on #351
@aaronstephenson I just reran 4 new account request tests on the test site (see user id's 144, 145, 146, 147) and 1 new account did not register in the 'userchangerequest' table (and subsequent notifications).  I think it may have been due to an initial token error due to my having the web API open.  I think we can call this one closed, but I'll keep monitoring.  Below were the scenarious run:

**

[2020-08-13 19:33] nbaertlein commented on #380
@aaronstephenson I just reran 4 new account request tests on the test site (see user id's 144, 145, 146, 147) and 1 new account did not register in the 'userchangerequest' table (and subsequent notifications). I think it may have been due to an initial token error due to my having the web API open. I think we can call this one closed, but I'll keep monitoring. Below were the scenarious run:

Test

[2020-08-13 19:55] nbaertlein commented on #351
@aaronstephenson  Changes to the user change request table appear to be working and have been addressed in #380 .  The emailing of pertinent users seems to be working as well so I think this one can be closed.  Test case below went to intended parties (WHISPers admins and Partner admin):

**Test: Success**
Username: neilaug5
Org: Woods Hole Oceanographic Institution - Woods Hole
Role: partner mana

[2020-08-13 19:55] #351 closed

[2020-08-13 20:01] nbaertlein commented on #373
@aaronstephenson I just set up a couple different notifications and made changes to 170865.  Based on update notifications made to accounts, this appears to be working.

[2020-08-13 20:38] nbaertlein commented on #375
@BlakeDraper @aaronstephenson I remember discussing this as well.  We'll let this marinate with users for awhile before we proceed with any changes to the current code.

[2020-08-14 18:26] nbaertlein commented on #388
@aaronstephenson We do need to expand the notification list for non-EPI comments, and in looking at the code it looks like we could make a couple small tweaks to get us closer.

From what I can tell the code creates 4 user variables:
1.	Epi (HFS or Madison)
2.	Event Owner
3.	Service Requester
4.	Active commenter

If this is true could we simply add the event owner and service requester to the non-

[2020-08-18 17:04] #373 closed

[2020-08-18 17:04] #380 closed

[2020-08-18 17:11] aaronstephenson commented on #388
I can make these changes, it should only take a few minutes.

[2020-08-18 17:35] #395 closed

[2020-08-18 17:36] #366 closed

[2020-08-18 17:36] #362 closed

[2020-08-18 17:37] aaronstephenson commented on #356
Full update information has been included in notifications for a while now.

[2020-08-18 17:37] #356 closed

[2020-08-18 17:38] #349 closed

[2020-08-18 17:40] aaronstephenson commented on #234
Nothing new to report here. Workaround is to not be logged in to the Browsable API while using the WHISPers web client.

[2020-08-18 17:40] #234 closed

[2020-08-18 17:40] #288 closed

[2020-08-18 17:41] #284 closed

[2020-08-18 17:41] #289 closed

[2020-08-18 17:42] #324 closed

[2020-08-18 17:42] #325 closed

[2020-08-18 21:27] aaronstephenson opened #406 "Change User email query param to be case insensitive"
Just use `iexact` instead of `exact` in the lookup.

[2020-08-18 22:31] aaronstephenson commented on #406
Implemented in beb275d5

[2020-08-18 22:31] #406 closed

[2020-08-18 22:31] aaronstephenson commented on #388
Implemented in 3ef1f1f0

[2020-08-18 22:31] #388 closed

[2020-08-19 21:04] nbaertlein commented on #388
@aaronstephenson Thanks for fixing and implementing the new code.  I'm getting an error on some of the comments I'm making ("Error. Comment not saved. Error message: SyntaxError: Unexpected token T in JSON at position 0"), but the comment is still saved.  I ran a bunch of non-Epi comment scenarios and it seems to me the comments that fail are from users who were NOT the event owner or service requ

[2020-08-20 00:11] aaronstephenson commented on #388
Sorry about that. Looks like I forgot to remove some code where I experimented with set literals. 😬
Fixed in 6e292c3e

[2020-08-25 20:05] aaronstephenson commented on #388
It looks to me that Event 170907 did create notifications with the Madison Epi as the recipient, both a Service Request notification (ID 7911) and a Service Request Comment notification (ID 7912). It does not look like Event 170907 triggered either of those notifications, however.

After looking through the code, I suspect what happened was you created the service request for event 170907 after th

[2020-08-27 17:22] nbaertlein commented on #388
@aaronstephenson Thanks for addressing.  I just tested service requests at event creation and event details and both work as expected.  Thanks.

[2020-09-11 21:01] nbaertlein commented on #403
@machristie Attached are the lookup tables that I think will matter.  Hopefully this helps.  Please let me know if you need additional information. thanks.

[WHISPers_lookups_20200911.xlsx](https://github.com/USGS-WiM/whispersservices_django/files/5211484/WHISPers_lookups_20200911.xlsx)

[2020-09-29 22:31] machristie commented on #403
Another option may be to create a fixture file (https://docs.djangoproject.com/en/3.1/howto/initial-data/#providing-data-with-fixtures). This could be exported from the production database.

[2020-10-05 17:12] BlakeDraper opened #407 "Small issue in event collaborators update logic - probably feature, not bug"
![image](https://user-images.githubusercontent.com/6978380/95110282-64100580-0703-11eb-98b0-ae79a4d53da1.png)

You can see here, one of the collaborators (users) is being dropped on this update. What I think may be happening here is an email address filtering.

ID 3 has the email address `nbaertlein+1@usgs.gov`
and ID 4 has the email address `nbaertlein@usgs.gov`

Since only 4 is sticking, seems i

[2020-10-05 18:09] aaronstephenson commented on #407
This is intentional, but the email address itself is immaterial. The logic is written such that if a user is in the 'write' group, it can't also be in the 'read' group (since 'write' includes read ability). In your example, user 3 is already in the 'write' group, and so it is ignored when you include it in the 'read' group update.

[2020-10-05 18:11] BlakeDraper commented on #407
Ok thanks. Makes sense obviously - may be confusing for user but that's a UX issue I'll have to figure out (or not).

[2020-10-15 21:19] BlakeDraper opened #408 "Lost field in most recent services deployed"
Neil noticed a species diagnosis was not showing in the test env on the new VM, but still was on the old VM test env. I looked into it and determined that the `diagnosis_string` field was dropped.  See image below for comparo. Same event, same location species and diagnosis. The only difference is which server they are coming from (and presumably, code version)

![image](https://user-images.github

[2020-10-15 21:21] aaronstephenson commented on #408
No pattern in the code really. But I'll look for all the *_string fields.

[2020-10-15 21:40] aaronstephenson commented on #408
Ah, I see what happened. In the refactor the *_string fields are in the serializer `fields` list, but not declared. Easy to add back.

[2020-10-15 21:56] aaronstephenson commented on #408
The only other missing one I found was 'cause_string' on SpeciesDiagnosis and SpeciesDiagnosisDetail serializers. Fixed in 2.0.2 06caf4ad.

[2020-10-15 21:56] #408 closed

[2020-10-16 14:57] nbaertlein opened #409 "Comment timeline in whispersprod.cr"
New comments are not displaying in the comment timeline (see pic below for https://whispersprod.cr.usgs.gov/event/170919).  Likely due to the different content_type_id in saved in the comment table?  See below for summary of content type (table django_content_type) comments.

id | app_label | model | comment_count | first_comment | last_comment
-- | -- | -- | -- | -- | --
134 | whispersapi | event

[2020-10-16 14:57] #407 closed

[2020-10-16 15:00] aaronstephenson commented on #235
Implemented with upgrade to Django REST Framework v3.12 and use of OpenAPI 3 in 2.0.0 3111f67

[2020-10-16 15:00] #235 closed

[2020-10-16 15:00] nbaertlein opened #411 "Events dashboard does not sort in whispersprod.cr"
Sort functions (i.e. ID, Type, Affected, etc) do not work on ‘Events’ dashboard.

![image](https://user-images.githubusercontent.com/38669574/96274588-4ad64700-0f96-11eb-897e-ed5ed2b79d21.png)

[2020-10-16 15:02] aaronstephenson commented on #236
Implemented with upgrade to Django REST Framework v3.12 and use of OpenAPI 3 in 2.0.0 3111f67

[2020-10-16 15:02] #236 closed

[2020-10-16 15:02] aaronstephenson commented on #300
Released in 2.0.0 3111f67

[2020-10-16 15:02] #300 closed

[2020-10-16 15:02] nbaertlein opened #412 "No group ID showing in dashboard in whispersprod.cr"
No group ID showing in dashboard tab  .

![image](https://user-images.githubusercontent.com/38669574/96274846-9c7ed180-0f96-11eb-924d-8fe89de908fa.png)

[2020-10-16 15:02] aaronstephenson commented on #301
Released in 2.0.0 3111f67

[2020-10-16 15:02] aaronstephenson commented on #302
Released in 2.0.0 3111f67

[2020-10-16 15:02] #302 closed

[2020-10-16 15:02] aaronstephenson commented on #303
Released in 2.0.0 3111f67

[2020-10-16 15:02] #303 closed

[2020-10-16 15:02] aaronstephenson commented on #304
Released in 2.0.0 3111f67

[2020-10-16 15:02] #304 closed

[2020-10-16 15:02] aaronstephenson commented on #305
Released in 2.0.0 3111f67

[2020-10-16 15:02] #305 closed

[2020-10-16 15:03] aaronstephenson commented on #306
Released in 2.0.0 3111f67

[2020-10-16 15:03] #306 closed

[2020-10-16 15:03] aaronstephenson commented on #307
Released in 2.0.0 3111f67

[2020-10-16 15:03] #307 closed

[2020-10-16 15:03] aaronstephenson commented on #308
Released in 2.0.0 3111f67

[2020-10-16 15:03] #308 closed

[2020-10-16 15:03] aaronstephenson commented on #309
Released in 2.0.0 3111f67

[2020-10-16 15:03] #309 closed

[2020-10-16 15:03] aaronstephenson commented on #310
Released in 2.0.0 3111f67

[2020-10-16 15:03] #310 closed

[2020-10-16 15:03] aaronstephenson commented on #311
Released in 2.0.0 3111f67

[2020-10-16 15:03] #311 closed

[2020-10-16 15:03] aaronstephenson commented on #312
Released in 2.0.0 3111f67

[2020-10-16 15:03] #312 closed

[2020-10-16 15:03] aaronstephenson commented on #313
Released in 2.0.0 3111f67

[2020-10-16 15:03] #313 closed

[2020-10-16 15:03] aaronstephenson commented on #314
Released in 2.0.0 3111f67

[2020-10-16 15:03] #314 closed

[2020-10-16 15:03] aaronstephenson commented on #315
Released in 2.0.0 3111f67

[2020-10-16 15:03] #315 closed

[2020-10-16 15:03] aaronstephenson commented on #316
Released in 2.0.0 3111f67

[2020-10-16 15:03] #316 closed

[2020-10-16 15:03] aaronstephenson commented on #317
Released in 2.0.0 3111f67

[2020-10-16 15:03] #317 closed

[2020-10-16 15:03] aaronstephenson commented on #318
Released in 2.0.0 3111f67

[2020-10-16 15:03] #318 closed

[2020-10-16 15:03] aaronstephenson commented on #319
Released in 2.0.0 3111f67

[2020-10-16 15:03] #319 closed

[2020-10-16 15:04] aaronstephenson commented on #320
Released in 2.0.0 3111f67

[2020-10-16 15:04] #320 closed

[2020-10-16 15:04] aaronstephenson commented on #321
Released in 2.0.0 3111f67

[2020-10-16 15:04] #321 closed

[2020-10-16 15:04] aaronstephenson commented on #374
Implemented with upgrade to Django REST Framework v3.12 and use of OpenAPI 3 in 2.0.0 3111f67

[2020-10-16 15:04] #374 closed

[2020-10-16 15:05] aaronstephenson commented on #326
Released in 2.0.0 3111f67

[2020-10-16 15:05] #326 closed

[2020-10-16 15:54] BlakeDraper commented on #409
Determined this is caused by an unintended change in the eventdetails response. The `combined_comments` field is used to populate the comment timeline, and it seem to not be getting populated correctly. It should have the event level comments and the event location level comments.

<img width="247" alt="Capture" src="https://user-images.githubusercontent.com/6978380/96280723-f3d47000-0f9d-11eb-875

[2020-10-16 16:23] nbaertlein opened #410 "Export data on home page in whispersprod.cr"
Export data on home page not working if not logged in.

[2020-10-16 16:27] BlakeDraper commented on #410
I've confirmed that both the home page export (`/eventsummaries` with csv format) and the event details export (/eventdetails/{ID}/flat with csv format) are responding with not authorized. An unauthorized user should get an export with the private/priveleged data omitted.

[2020-10-16 16:29] aaronstephenson commented on #409
After investigating, there's absolutely nothing wrong with the code. The cause of the problem is the app name change; django created new content types with the new app name (whispersapi vs the old whispersservices), which is now interfering with the comment queries. Should be an easy fix.

[2020-10-16 16:47] aaronstephenson commented on #409
OK, I think this is fixed. @nbaertlein would you give it another test?

[2020-10-16 16:57] aaronstephenson commented on #410
Both unauthenticated requests (summary and detail) succeed on my local dev environment. @BlakeDraper I wonder if the problem is similar to the notifications request 401s we saw yesterday?

[2020-10-16 16:58] aaronstephenson commented on #410
Also, just confirmed both requests work on the (new) test and prod envs when making the requests directly to the API.

[2020-10-16 17:05] BlakeDraper commented on #411
@aaronstephenson there seems to be an issue with the filtering queries. Just one example:
https://whisperstest.cr.usgs.gov/api/eventsummaries/?enddate=2020-10-16&format=json&ordering=affected_count&page=1&page_size=5&startdate=2020-09-18

Although the ordering param is included with the value `affected_count`, the results are not in fact ordered by that field.

[2020-10-16 17:48] nbaertlein commented on #409
@aaronstephenson  I can view all comments now, but I can't seem to create new ones.  Getting the following token error.
"Error. Comment not saved. Error message: SyntaxError: Unexpected token I in JSON at position 0"
I'm also not logged into the API.

[2020-10-16 18:21] aaronstephenson commented on #409
After some testing, I can create comments just fine using the API directly (via Insomnia) and in the browsable API. I only get an error when using the client.

[2020-10-16 18:34] BlakeDraper commented on #409
@aaronstephenson can you share what you are sending to create a comment?

[2020-10-16 18:36] aaronstephenson commented on #411
Fixed in 2.0.3 fa803d9. Please test to confirm.

[2020-10-16 18:36] aaronstephenson commented on #409
[code]

[2020-10-16 18:43] BlakeDraper commented on #409
Resolved with latest update to services on test. Small confusion with an improper reference to the now outdated prod environment api.

[2020-10-16 19:00] #409 closed

[2020-10-16 19:04] BlakeDraper commented on #412
The `name` field, and a few other fields (namely  the '_string' ones) got dropped from the `/eventgroups` response. In the context above, 'ID' = `name` in the table and desired endpoint response.

[2020-10-16 19:38] aaronstephenson commented on #412
Fixed in 2.0.4 5367c2a

[2020-10-16 19:38] #412 closed

[2020-10-16 19:46] BlakeDraper commented on #411
Looks good to me.

[2020-10-16 20:11] aaronstephenson commented on #410
@BlakeDraper I can confirm that this is the same issue we saw yesterday with notifications. A request that includes an empty auth header returns a 401 error, but not including the header returns a 200 with the CSV file.

[2020-10-16 20:19] BlakeDraper commented on #410
Certainly a change with this new environment is making this an issue that did not exists before, but probably a decent clean-up fix anyway.

[2020-10-16 20:24] aaronstephenson commented on #410
I don't know what would have changed. The source code that handles authentication hasn't changed since we implemented that custom basic auth feature a year and a half ago. It might be a change in the underlying framework, since that has been updated to a new  (minor) version. Or possibly something in the Apache configs, but nothing that I have touched. I'm mystified.

[2020-10-19 20:21] JChipault commented on #411
Sorry that I didn't catch this before, but same issue of the column sort feature not working is happening in these other tabs of the dashboard: Notification (although seems to work after I hit refresh on browser), Event Groups, Contacts, and Circles

[2020-10-20 14:58] BlakeDraper commented on #411
@aaronstephenson we do in fact have a failure to properly filter on the following endpoints:
- `/eventgroups` (example: https://whisperstest.cr.usgs.gov/api/eventgroups/?ordering=comment&page=1&page_size=20)
- `/circles` (example: https://whisperstest.cr.usgs.gov/api/circles/?ordering=-users&page=1&page_size=20)

@JChipault I cannot recreate the issue on the Notifications tab. Are you on the test

[2020-10-20 16:11] JChipault commented on #411
Good call on contacts... I re-tested using an account that only had 2 contacts and it sorts on every column EXCEPT phone number and email address.

Notifications was kind of spotty for me yesterday. Seems ok today. So maybe just a fluke.

[2020-10-20 19:22] aaronstephenson commented on #411
@BlakeDraper in both of those cases you are attempting to sort by nested objects. Is that something we've actually ever allowed? I see no evidence of it in the notifications branch (pre-refactor): https://github.com/USGS-WiM/whispersservices/blob/notifications/whispersservices/views.py

[2020-10-20 19:59] aaronstephenson commented on #411
I also looked at sorting for contacts (as admin user, so all 3k+ records), and I was able to order by email address and phone number and get expected results.

[2020-10-20 20:44] aaronstephenson commented on #411
Looks like I forgot to put the OrderingFilter in the abstract class that all the views inherit from when I did the refactor. Fixed in 2.0.5 823f533

[2020-10-20 20:44] #411 closed

[2020-10-20 21:25] BlakeDraper commented on #411
And @JChipault I spent some time with all the sorts on the User dash and found a few bugs that I squashed, so all of those should be fully functional with the next release.

[2020-10-22 20:29] nbaertlein opened #413 "Duplicate timed notifications"
Seeing duplicates of overnight notifications.  Examples include whispers_notification ids: 8842 & 8847; 8843 & 8848; 8877 & 8882; 8874 & 8881.  My email confirms they were sent at the same time @ 3am.

[2020-10-22 20:42] nbaertlein commented on #413
Also found a notification that was repeated 12 times.  Haven't confirmed actual email receipt with Kim yet.  Please see whispers_notification ids: 8858,  8859,  8862,  8863,  8866,  8867,  8868,  8869,  8870,  8871,  8872,  8873.

[2020-10-23 14:49] JChipault opened #449 "business rules for marking "Complete" not being enforced for collaborators"
NOTE - this bug doesn't need to hold up the release of notifications to live

**Describe the bug**
Read/write collaborator on live site (2.12.5) was able to mark an event as "complete" even though there was no end date. This is a violation of the business rules. See https://whispers.usgs.gov/event/200826

**To Reproduce**
I tested this on the test.cr site and, as a partner user who was a read/writ

[2020-10-23 15:21] nbaertlein opened #414 "Stale event notifications not being generated"
We've created and edited a number of events these past couple weeks however we have not received any stale event notifications.  Periodicity via the configuration table is set at 1, 2, and 5 days.  The last stale event notification was created on 10/8/2020.

[2020-10-23 21:54] machristie commented on #403
Thinking a bit more about the fixture approach, I think it would be better to use a data migration for these key lookup tables where their special values are referenced and assumed to exist in the code. The fixture file approach might be good through for populating tables with some test data. For example, the whispers_organization record with id=1 (Public) has a special use in the code (default or

[2020-10-26 22:11] aaronstephenson commented on #414
This was caused by a single variable accessor that I forgot to remove during the refactor. Easy fix, coming shortly.

[2020-10-27 00:07] aaronstephenson commented on #413
The notification that was repeated 12 times was caused by the structure of the Django ORM query in the Custom Notification task code, I have now added a "distinct" clause to it and confirmed that there are no more duplicates when I test. The other duplicates you report I cannot reproduce despite trying several scenarios; let me know if you see it happen again.

[2020-10-27 00:11] aaronstephenson commented on #414
Fixed in 2.0.6 c4061cc3

[2020-10-27 00:11] #414 closed

[2020-10-27 00:11] aaronstephenson commented on #413
Fixed in 2.0.6 c4061cc3

[2020-10-27 13:01] nbaertlein opened #415 "Test site error on load"
Get this when it's trying to load home page data:
![image](https://user-images.githubusercontent.com/38669574/97304967-7c6ad000-182a-11eb-9c9b-bc0fcfe24ede.png)

Get this when I try to log in:
![image](https://user-images.githubusercontent.com/38669574/97304991-84c30b00-182a-11eb-9eaf-6ff510846fa0.png)

[2020-10-27 14:37] BlakeDraper commented on #415
@nbaertlein Its fixed. sorry - that was 100% my fault for not updating the reference to the correct URL when we made the change.

[2020-10-27 14:37] #415 closed

[2020-10-30 13:27] JChipault commented on #413
@aaronstephenson @BlakeDraper  I was expecting standard notifications in the wee hours of 10/30 for 170933 (I updated my event yesterday), 170934 (Neil created yesterday), and 170935 (Neil created yesterday) and received none of those. Good news: there aren't duplicates...  Bad news: there aren't anything.

I think Neil is out today. Let me know if there's any questions or any further testing I sh

[2020-10-30 15:19] aaronstephenson commented on #413
I had the `yesterday` variable set to 5 days previous. Forgot to reset it after I debugged the duplicates problem a few days back.

Fixed in 2.0.7 e32b8fb

[2020-10-30 15:19] #413 closed

[2020-11-03 15:37] machristie commented on #403
I created a draft PR #417 that adds a data migration for creating an admin user and the roles, but only if they are missing. Any feedback is appreciated.

I'll keep adding to this data migration with other lookup tables, like EventType, CommentType, Organization, etc.

[2020-11-04 21:35] machristie commented on #403
Note to self: I might want to reorder this data migration to come before the 0054 migration in #404 since that one creates a NotificationMessageTemplate with the admin user (pk=1) as the created_by/modified_by user.

[2020-11-10 14:22] JChipault opened #448 "Create event error when "undetermined" dx and basis of dx"
**Describe the bug**
During Create Event, if I select "Undetermined" as the species diagnosis, uncheck the "suspect" checkbox, and enter a basis of this diagnosis (any selection), then I get this error message when I try to save the event:
![image](https://user-images.githubusercontent.com/49287076/98685431-fc199400-232c-11eb-8953-0836218f0a49.png)

"Undetermined" should never have the "suspect" b

[2020-11-16 15:43] JChipault opened #423 ""suspect" not showing for species dx on event details page"
Even though the suspect box is checked, the word "suspect" is not being appended to the species diagnosis on the event details page (although it is appended to the event diagnosis on both the home page and the event details page). See event 200700 on the live site.

![image](https://user-images.githubusercontent.com/49287076/99271109-6b3f2e80-27ec-11eb-9a4e-2ac6e794c04c.png)

[2020-11-18 20:03] JChipault opened #425 "can't create event from partner account with service request"
**Describe the bug**
This came up because our partners have been having an issue on the live site and I was able to reproduce some issues on the test site. Looks like the crux of it is that a partner can't create an event that includes a service request. I can create events without service requests from a partner account and I can add a service request from the event details page, but I can't crea

[2020-11-19 17:26] JChipault opened #426 "event owner permissions vs collaborator permissions vs org permissions"
Note - less urgent bug because unlikely to happen much...

Need to make sure that event owner permission overrides any collaborator permissions. Someone who owned an event added herself as a read only collaborator to that event and suddenly couldn't edit her own event.

Same goes for any role within the org or parent org that should have read/write access to an event - that should override collabo

[2020-11-20 17:09] BlakeDraper commented on #423
@aaronstephenson the calculation of the `diagnosis_string` field was changed mistakenly for the locationspecies response. The API should append ' suspect' to the end of the diagnosis name string where `suspect: true`. In addition to Jenny's example above, check out the response for event 170891 on the test DB: https://whisperstest.wim.usgs.gov/api/eventdetails/170891?no_page

Note that the `eventd

[2020-11-20 19:00] aaronstephenson commented on #423
Fixed in 2.0.10 5fa2d90

[2020-11-20 19:00] #423 closed

[2020-11-20 19:45] BlakeDraper commented on #425
@aaronstephenson This is the error when submitting an event with service request using the `abilenetest` account on test DB (partner role).
![image](https://user-images.githubusercontent.com/6978380/99842843-2ee63800-2b36-11eb-8823-d74b2ce61b6d.png)

submission JSON:
[code]

[2020-11-20 22:08] aaronstephenson commented on #425
Fixed in 2.0.11 6a53f67

[2020-11-20 22:08] #425 closed

[2020-11-23 22:16] aaronstephenson commented on #426
@JChipault I just implemented a small code change in the test environment that will silently remove the event owner from any request to add the event owner to either collaborator list (for example, when creating an event, the creator has 4 people including herself in the write collaborators list, the code will remove the creator's ID from that list and just add the other 3). This change will preve

[2020-11-24 20:25] aaronstephenson commented on #426
@JChipault I am unable to reproduce this issue locally.

In the client, I logged in as a partner role, I created an event (and added myself as read collaborator during that create). After the event successfully created, I was still able to go to the event and edit the event itself (fields like event_reference) and child objects like locations and diagnoses.

Can you give me the full scenario that

[2020-11-24 20:44] JChipault commented on #426
Hey @aaronstephenson - sorry I didn't reply earlier. I saw "I just implemented a small code change..." and though "cool! he fixed it!" and was thinking I just needed to test it at some point. But I see now, now that I read your whole comment, that you had some questions. I'll dig into this more and get back you. I'll probably also talk to @nbaertlein because this is a lower priority bug so not sur

[2020-11-24 21:40] JChipault commented on #426
First message from user Lorna McCallister in FL:
"For WHISPers event 200775 (event reference 180122_Loons), I must have accidentally selected the circle we made (which is you, Lisa, and myself) in the "read only access" collaborators section, instead of the "read and write access" section, when I originally created the event. I am still able to edit most of the event which is good. However, I cann

[2020-11-24 21:42] JChipault commented on #426
I think I'm ok with the silent fail when an event owner adds themselves as a read or read/write collaborator (either as an individual or as part of a circle)

[2020-11-24 21:45] JChipault commented on #426
Silent fail would happen in both create event and event details page, right?

[2020-11-24 21:51] aaronstephenson commented on #426
Yes. Though I wouldn't call it a "fail" :) more of an "ignore", since any other users in the list would be added.

Thanks for the details from the user, they are extremely useful! It appears that the problems are in the many-to-many related objects (collaborators, contact), but not in one-to-many related objects (locations, species).  And also event.complete, which has its own dedicated code block

[2020-12-01 17:43] JChipault commented on #425
@aaronstephenson tested yesterday in test site and got JSON error but this seems to be working in the live site (based on not getting further complaints or duplicated events entered)... when test gets pushed to live, this will still work in live, correct??

[2020-12-01 22:00] aaronstephenson commented on #425
@JChipault this fix was pushed to prod at the same time I pushed to test; it is "live". Test is actually ahead of prod by one commit because I implemented the [code](https://github.com/USGS-WiM/whispersservices/issues/426#issuecomment-732457424) that prevents the event owner from adding his/herself as a collaborator (issue #426).

What specific JSON error are you getting?

[2020-12-01 22:22] JChipault commented on #425
Well, of course I didn't grab a screen shot when I hit that JSON error last night. I messed up there - sorry. It does look like the event went through despite the error message I got: https://whisperstest.wim.usgs.gov/event/170953. But there is no service request information showing on the front end and I know I submitted a request. There was also no service request notification email sent to nwhc

[2020-12-02 20:09] aaronstephenson commented on #425
It looks like celerybeat on the test server hasn't been working since November 5 (per the timestamp on the logs), despite the daemon status reporting "active". I just restarted it and now there are dozens of new notifications, likely from a backlog in the rabbitmq message queue.

celerybeat only affects the nightly notification processes though. I don't have an explanation for the JSON error you s

[2020-12-07 21:45] machristie commented on #403
For creating the password for the admin user, I have the data migration create a random password and print to the console, with instructions on how to reset the password

Example migration output:
[code]

The roles are also automatically created and the admin user is given the SuperAdmin role. With this I'm able to run `python manage.py migrate` on a new database and then successfully login as the

[2020-12-15 17:59] JChipault commented on #425
Tried creating a complete event with a service request from jchipault account in test site. Got JSON error (also see form values at end of this comment).
![image](https://user-images.githubusercontent.com/49287076/102253152-980a6280-3ecc-11eb-845a-2d690a5b8b53.png)

Sometimes when we get an error message on the front end, the event actually saves, but it doesn't seemed to have saved in this case.

[2020-12-15 18:51] JChipault commented on #425
@aaronstephenson I should note that I've been creating events with service requests pretty frequently over the past week or so to try to reproduce this bug. I just tried again (about an hour after i hit the last error) with a similar type of event and it went through just fine (170964, which is a complete event with a species diagnosis and an event diagnosis and with a service request and service

[2020-12-18 17:21] BlakeDraper commented on #425
@JChipault I have been testing this myself and cannot reproduce the error you show. Sounds like you are having a similar experience? Your error shows that the response back from the server is not JSON, as the API is set to respond with, which does suggest (though not prove) that it is a server issue, i.e. an EROS thing.  Can we maintain this as a monitor situation, or is it frequent enough to warr

[2020-12-21 15:42] JChipault commented on #425
Neil's 12/18 response via email: "Given its elusiveness and likely server-side issue I agree we should move on and monitor.  Long term, I'm wondering if we could look into error logging..."
Jenny's confused by Blake's "Your error shows that the response back from the server is not JSON" because it looks like a JSON error to me, but I'm sure I'm just not understanding the technical stuff here. Over

[2020-12-21 15:59] BlakeDraper opened #430 "contacts/user_contacts response should not include records where active = false"
Need to reestablish this rule in the contacts response.

[2020-12-21 16:38] BlakeDraper opened #431 "Update content of service request notification"

[2020-12-21 16:38] BlakeDraper commented on #431
@JChipault can you confirm that this is an issue with the notification, not the display on the event details page?

[2020-12-21 16:40] BlakeDraper opened #432 "Question on ALL Events notification"
From NWHC:

[2020-12-21 18:04] JChipault commented on #431
Confirmed. It's the "source" that can be viewed in the dashboard that's off. Here's an example from the test site. User abilenetest can't set a service request response so they shouldn't be the source.
![image](https://user-images.githubusercontent.com/49287076/102807595-8faa9f80-4384-11eb-9902-acff9ab5e7d6.png)

[2020-12-21 18:16] JChipault commented on #432
For example, jchipault user got a "Your Organization Events" notification for 200983 even though it's marked as "not visible to the public" but did NOT get an "All Events" notification for 200981 and 200892, which were events "not visible to the public" created by state partners. As jchipault (WHISPers admin), I have permissions to see these events, but I was not notified about them.

We think we

[2020-12-21 21:08] BlakeDraper opened #433 "Possible data issue - Popular searches empty result"
Jenny pointed out there was an issue with popular searches showing a blank search. I confirmed that that is technically the accurate display of the data from the server:
![image](https://user-images.githubusercontent.com/6978380/102821965-aad5d900-439d-11eb-9b05-51d5e22ac86e.png)
In this case 'data' actually refers to the search composition itself, i.e. the search parameter and their values. You'l

[2020-12-22 14:25] JChipault commented on #433
@nbaertlein  Seeing the criteria for number affected in the popular searches on the front end is something that I thought we had fixed before, but then I noticed it wasn't working. However, saving a search that has the criteria of number affected IS working (github #1008). So perhaps you could re-load the saved searches into popular search and then the popular search would work?

[2020-12-22 21:00] aaronstephenson commented on #431
Looking at the example of Event 200986 in the production client, I see this:
![image](https://user-images.githubusercontent.com/8713712/102932394-cf958380-4465-11eb-86ec-51e0ce928f40.png)

Yet when I look at the actual response from the API, I see this:
![image](https://user-images.githubusercontent.com/8713712/102932521-11262e80-4466-11eb-9155-38142a4db8c5.png)

The `response_by` field has a valu

[2020-12-22 21:02] aaronstephenson commented on #431
Oh, I glanced over the big about notifications. I'll look at that.

[2020-12-22 21:11] aaronstephenson commented on #431
Ah yep, it was the notification create code, I had `source` set to `modified_by`, not `response_by`.

[2020-12-22 21:54] aaronstephenson commented on #430
Yep, this ability was lost with the implementation of the django_filter package. I will figure out a way to make it work.

[2020-12-22 23:47] aaronstephenson commented on #432
Yes, nightly notifications are based on permissions, and yes admins should see all event notifications regardless of source or public/private status if they opt to receive them. I will investigate why admins are not seeing private non-org events.

[2020-12-22 23:50] aaronstephenson commented on #433
I can fairly easily prevent the empty search from ever being saved as a popular search, let me know.

[2020-12-23 00:02] aaronstephenson commented on #431
Fixed deployed in test environment.

[2020-12-23 00:02] aaronstephenson commented on #430
Fixed deployed in test environment.

[2020-12-23 17:15] JChipault commented on #431
I checked it out on the test site and it looks good. Thanks!

[2020-12-23 23:10] aaronstephenson commented on #425
I tried to reproduce this bug just now (new event with a service request), using the test web client app and also a REST API client, and both attempts succeeded without error.

@JChipault what Blake means is that the content received from the API in the case of that error is not JSON (likely HTML instead), which is why the error message says "syntax error: JSON.parse"; in other words, the client a

[2020-12-23 23:18] aaronstephenson commented on #431
Fix deployed in production environment.

[2020-12-23 23:18] #431 closed

[2020-12-23 23:19] aaronstephenson commented on #430
Fix deployed in production environment.

[2020-12-23 23:19] #430 closed

[2020-12-31 19:37] nbaertlein commented on #433
I've fixed the data for popular searches so we don't have an empty search.  Not saving the affected count was an issue earlier, but it looks like it works fine now and I don't know how this one was reset.  I'll keep an eye on it moving forward.
@aaronstephenson This is low priority as these should not rise enough to be listed in popular searches, however if it's easy enough, please prevent these f

[2021-01-05 21:25] aaronstephenson commented on #433
I just took a look in the [code](https://github.com/USGS-WiM/whispersservices/blob/master/whispersapi/views.py#L2709), and the empty searches should not be created at all.

I am testing for the length of the query_param list, and if it is zero then the search save code block is skipped. Looking in the various DBs, all of the occurrences of the "{}" have created and modified dates from 2019, with j

[2021-01-06 20:45] aaronstephenson commented on #426
I was able to look into this and recreate Lorna's scenario. There are two things going on here.

1.

This part, where she gets a validation error saying she doesn't have permission to do an action, yet the collaborator names disappear from the screen, is a disconnect between the client app and the API. The client code assumes that the request will succeed, so locally removes the names from the col

[2021-01-06 23:09] JChipault commented on #432
@aaronstephenson any insight on this one? I think this is the next highest priority bug for me now that you've conquered the add collaborators issue.

[2021-01-06 23:19] JChipault commented on #426
1 - This might be fixed for the event owners now because the reason she didn't have permissions is because her access as a read only collaborator was overriding her access as the event owner. But now I see you have the "ignore" feature working (at least on the test site), wherein if an event owner tries to add themselves as a collaborator, then it just doesn't stick. Since she now can't make herse

[2021-01-06 23:21] aaronstephenson commented on #432
Yes, I'm looking at all of these, and this is the next one up.

[2021-01-07 20:06] aaronstephenson commented on #432
OK, I had a chance to look into this. To answer the question, there is no bug here, the code is operating as [written](https://github.com/USGS-WiM/whispersservices/blob/master/whispersapi/scheduled_tasks.py#L902):

1. All public events created/edited yesterday (excluding those that changed from private to public yesterday, per Neil's directive)
2. Any other events the user has access to (events cr

[2021-01-07 20:11] aaronstephenson commented on #432
@JChipault I just pushed this change to the test server, keep an eye on notifications and let me know how it goes.

Note that this change (9cdb156) affects both the 'ALL Events' standard notifications and the custom notifications.

[2021-01-07 20:12] aaronstephenson commented on #426
Yes. That is a larger problem and will take time to investigate.

[2021-01-08 15:13] JChipault commented on #432
The test I set up yesterday sent the expected notifications overnight! I want to do one more round of overnight testing.

I did want to note that this statement "excluding those that changed from private to public yesterday, per Neil's directive" goes the other way too so maybe should read "excluding those that changed from private to public OR public to private yesterday, per Neil's directive". T

[2021-01-08 22:17] aaronstephenson commented on #426
I've been looking into this all day using multiple scenarios, and I can't find a single scenario where the code doesn't perform as expected. Here's what I tried, all for Event 200775 with users from Organization 214 (Florida Fish and Wildlife Conservation Commission - Fish and Wildlife Research Institute - Gainesville):

1. Added the system admin (user 1) to the event's Read Collaborators list, co

[2021-01-11 14:12] JChipault commented on #432
Second round of testing gave expected results. Looks good

[2021-01-11 21:59] aaronstephenson commented on #432
Fix implemented in v2.0.14 6e77a39

[2021-01-11 21:59] #432 closed

[2021-01-11 22:03] aaronstephenson commented on #432
@JChipault this is now live on the production server.

[2021-01-12 19:32] JChipault commented on #426
Based on re-reading Lorna's email, looks like it went like this.

1) The event she created was marked as complete with herself (accidentally) as a read-only collaborator.
2) She then went to the event details page and tried to remove herself as a read-only collaborator and could not. Lorna says, "I am still able to edit most of the event which is good. However, I cannot change the collaborators se

[2021-01-12 19:34] JChipault commented on #426
I just tried to recreate the scenario that Lorna found herself in by logging in to the abilenetest account and created a complete event that was not visible to the public with abilenetest as a read-only collaborator, but now that you've got that "ignore" function coded, when the event saved it did not save abilenetest as a read-only collaborator on the event they created.

[2021-01-12 19:37] JChipault commented on #426
Everything you report regarding your checks sounds good. I'm not sure how you ran your scenario 4 though because that's when I hit the "ignore" fix. Maybe you turned the "ignore" off when you ran your scenario 4 and added Lorna as a read-only collaborator on an event she owned? Or was it the ignore fix that made her just slide out of that read-only spot??

[2021-01-12 19:40] aaronstephenson commented on #426
For my scenario 4, I manually added the user ID in the read collaborator DB table, effectively circumventing the "ignore" feature (since that only happens during an event create or update via the API).

[2021-01-12 19:41] JChipault commented on #426
So maybe we're good then?

[2021-01-12 19:42] JChipault commented on #426
maybe it was just the event owner/read-collaborator combo that was causing problems and you've fixed that with the "ignore" fix

[2021-01-12 19:47] JChipault commented on #426
although you tried the event owner/read-collaborator combo and it seemed fine... which was why I was going to try the specific scenario of creating a complete and private event where the owner was a read-collaborator, thinking maybe the "complete" and "visibility" settings mattered? But if one can't add themselves as a read-only anymore, then that's moot

[2021-01-12 19:52] aaronstephenson commented on #426
On the test server, I could disable that bit of code that I wrote to do the "ignore", then you could test the scenario. Would take me less than a minute.

[2021-01-12 19:55] JChipault commented on #426
sounds good

[2021-01-12 20:01] aaronstephenson commented on #426
Changed, event creator can now add self to collaborator lists on the test server. Give it a try.

[2021-01-12 20:19] JChipault commented on #426
I can't recreate the problem.

[2021-01-12 20:26] aaronstephenson commented on #426
Yeah, I couldn't either, hence my perplexion.

I dunno. I'm kind of feeling like we're chasing ghosts with this one. I say we just move on, but keep an eye out for users reporting situations like this (and taking copious notes if they do).

[2021-01-12 20:26] JChipault commented on #426
Maybe keep the "ignore" fix in the code, but I think we can close this ticket.

[2021-01-12 20:30] aaronstephenson commented on #426
Code on the test server reverted so that the "ignore" fix is live again. Closing issue but will keep an eye out for similar reports.

[2021-01-12 20:30] #426 closed

[2021-01-19 22:39] JChipault opened #442 "permission error message"
Ok, the collaborator thing for issue #426 might have been a red herring... I just received a report from a partner who got that same permission error that we were keying in on for #426 but he got it when he was trying to update end dates on events without any collaborators. The person trying to make these changes (Robb Kaler) is the event owner for all of these events, and the other thing that's p

[2021-01-19 23:39] JChipault commented on #442
I think you'll see this report, but I'm tagging you just in case that's needed - @aaronstephenson

[2021-01-20 15:17] aaronstephenson commented on #442
@JChipault I'll take a look.

I get automatic notifications for all issues and comments in this repo since I'm the maintainer. I disabled notifications on the client repo because while it was in active development there was no much activity there that didn't directly apply to me that it was filling up my inbox, so if you want me to see something in that repo just tag me. But for this one you don't

[2021-01-20 16:08] aaronstephenson commented on #442
In the case of Event 200582 Location 3, the event_location record was created by Barb Bodenstein (org 2). Robb is in org 1107, which has no parent org. It looks like in the permissions lookup in this case, the code is checking the ownership of the the event_location, not the parent event, and because the orgs don't align the code determined that Robb doesn't have edit permissions. So the fix here

[2021-01-20 16:27] JChipault commented on #442
I think we'd want the event owner to be able to read/write all locations but I'm double-checking with Neil on that to make sure I'm not overlooking something

[2021-01-20 16:48] nbaertlein commented on #442
Yes.  That makes sense to me.  The event owner should have write permissions for anything in an event.

[2021-01-20 18:08] aaronstephenson commented on #442
Fixed in 2.0.15 ec16d0d.

@JChipault I just pushed this fix to both prod and test servers. I also checked every case that Robb mentioned and they all work as expected now.

[2021-01-20 18:08] #442 closed

[2021-01-22 15:40] nbaertlein commented on #442
Aaron,  I don't know if this is related, but seems it might.  We have a new bug on the live site.  I cannot not view any event details when logged in with a partner role (partner manager, partner admin, etc)  This included events that are within my org.  Example logged in as user nwhcPartnerManager (NWHC, partnermanager) and could not access event 200996.

[2021-01-22 16:10] aaronstephenson commented on #442
@nbaertlein please create a new issue to record what you're seeing, and please include as many details as possible so I can better troubleshoot it. I am on leave today, and leaving the house for the day in 10 minutes, so for now I'll just revert the prod server to the previous version (2.0.14).

[2021-01-22 16:40] aaronstephenson commented on #442
I decided to take a quick look anyway and found that it was an easy fix. New version pushed 2.0.16 c25c37b to prod and test.

[2021-01-26 15:39] nbaertlein opened #443 "Issues when logged in with a partner role (Partner User, Partner Manager, or Partner Admin)"
Seeing multiple issues when logged in with a partner role, but works fine when logged in as a public or WHISPers admin.  Tested in both test and production sites with the user 'nwhcPartnerManager'
1.  Cannot download event details report.  Download process gets stuck in loop when clicking 'Download Event Report'.
2.  Cannot edit a species.  When clicking the 'Edit Species' button the pop-up box do

[2021-01-26 22:06] aaronstephenson commented on #443
Can you give an example event ID so I can attempt to recreate what you're reporting?

1 Sounds like a front end issue. Using various random event IDs, I can download event details reports directly from the API. When I try using the client with the browser developer tools open, I see dozens of errors related to client actions, none due to the API.
2 and 3 sound like side effects of a change I made

[2021-01-26 23:40] aaronstephenson commented on #443
Yup, 2 and 3 are definitely side effects of a recent change I made to a couple serializers. Fixed in 2.0.17 db3435c. Pushed to both prod and test servers.

1 is likely fixed by [2.16.2](https://github.com/USGS-WiM/whispers/releases/tag/v2.16.2) [1e6d9a0](https://github.com/USGS-WiM/whispers/commit/1e6d9a05bdc0c11c986b4c1b5247ffa97626972b) from the client repo.

[2021-01-27 15:52] nbaertlein commented on #443
This caused another side affect.  I can no longer access publicly available events when logged in as a non-admin user (both test and production).
Examples below.  Event example is a public event owned by Arizona.  Logged in access are by non-Arizona accounts.

Generic Access (not logged-in):
![image](https://user-images.githubusercontent.com/38669574/106015466-22291780-6084-11eb-958d-2955df6dc3e5.

[2021-01-27 15:56] nbaertlein commented on #443
One other scenario:  I CAN access from a partner account if its within the same organization.  Example here the event is owned by NWHC (Barb) and is accessed by a NWHC partner manager account:
![image](https://user-images.githubusercontent.com/38669574/106017142-c790bb00-6085-11eb-81b9-6ca55dd9ad53.png)

[2021-01-27 17:49] aaronstephenson commented on #443
Apologies for that. I found the problem, a simple stupid error on my part, trying to look up a parent event value when the object is already an event: `'Event' object has no attribute 'event'` (I was assuming the object was an EventLocation).

BTW you should be able to see the error messages in the browser's developer console, which would help in future troubleshooting to more quickly identify the

[2021-01-27 17:59] aaronstephenson commented on #443
Fixed in 2.0.18 326ba3a, pushed to test and prod.

[2021-01-27 18:56] nbaertlein commented on #443
Looks like I have access now.  Thanks @aaronstephenson for that and the tip on the console.

[2021-02-05 18:47] JChipault commented on #443
I just got the {“detail”:”Not found.”}" error message when deleting a species diagnosis while in my jchipault (whispers admin) account. I got the {“detail”:”Not found.”}" toast message but simultaneously got the middle-of-the screen message with white background that told me that it was successfully removed. The diagnosis did get removed from the display. This was deletion of the diagnosis of chro

[2021-02-17 17:58] aaronstephenson commented on #443
Yeah, it sounds like a network blip... like the DELETE succeeded, then the client tried to do a GET for the same record but was told it no longer exists ("Not found."). Keep an eye out for weirdness like this and let us know if you see it happen again. Thanks!

[2021-02-17 17:58] #443 closed

[2021-02-17 17:59] aaronstephenson commented on #433
@nbaertlein how are things looking here? Can this issue be closed?

[2021-02-17 18:09] nbaertlein commented on #433
@aaronstephenson Everything looks good on my end.

[2021-02-17 18:11] #433 closed

[2021-02-18 22:18] machristie commented on #391
This should be fixed now by #446

[2021-02-18 22:18] #391 closed

[2021-02-18 22:19] machristie commented on #386
This is merged to dev

[2021-02-18 22:19] #386 closed

[2021-02-19 22:36] aaronstephenson commented on #448
Fixed in 405d70bd, will push to test soon.

[2021-02-19 22:48] aaronstephenson commented on #449
@JChipault I see where in the code this is happening, but it raised a larger question for me: should collaborators be allowed to complete an event? Shouldn't it just be the event owner, or a PartnerAdmin or PartnerManager in the same org as the event owner, or a SuperAdmin or Admin?

I'm proposing that we just reject any requests to complete any events when they're from a collaborator, and the col

[2021-02-22 19:13] JChipault commented on #449
Thanks for posing that question. I checked with the informatics team and we'd like collaborators to have the ability to change it from incomplete to complete (and then have the system run all the appropriate business rule checks). Often it's really the collaborator who has the data in hand so switching to "complete" gives them a way to say "I'm done". That said, collaborators should not be able to

[2021-02-22 21:07] aaronstephenson commented on #449
Fixed in 9d8a857e, will push to test soon.

[2021-02-22 23:20] #448 closed

[2021-02-22 23:20] #449 closed

[2021-03-04 13:54] JChipault opened #458 "Event saved with no data"
Barb Bodenstein created event 201146 around 7a-7:10a this morning and she was able to save the event and everything seemed ok (i.e., she doesn't remember seeing any error messages), but when she realized that the service request email did not arrive at nwhc-epi@usgs.gov, she went to look at the event and found that it was basically a shell without any data. I took screen shots of the empty event;

[2021-03-05 15:43] JChipault commented on #458
Jasper County and this screen shot has the other info for that location
![image](https://user-images.githubusercontent.com/49287076/110135408-1a9c1300-7d94-11eb-8fa9-d202a0d33f96.png)

[2021-03-05 15:43] JChipault commented on #458
Thanks for looking into this.

[2021-03-05 21:08] aaronstephenson commented on #458
@JChipault I can't find anything wrong in the code. I've tried creating new events with the exact event location information as shown in your screen capture, but the event creation succeeds with all details correct. My only explanation is that something went wrong in the request to the FWS API that one time that Barb tried yesterday morning, maybe the FWS server was down momentarily or a packet go

[2021-03-08 20:12] JChipault commented on #458
I talked with Neil and we're cool with this approach. Should this sort of "bail if it's not working" approach be used for any other third party services that are pinged during create event? GNIS? Not necessarily anything that has to be done right now but wanted to check in with you on that while your mind is on this topic.

[2021-03-08 20:29] JChipault commented on #458
Just re-read your Friday message... maybe you've already taken care of all third party pings since you said "wrap all calls to third party services in try:except blocks"

[2021-03-08 21:04] aaronstephenson commented on #458
Right now, the GNIS lookup happens only in the client app (the API just passes the value submitted by the user thru to the DB). The API only uses 2 third party apps, namely FWS Flyways (for EventLocation.flyways) and Geonames (for looking up country and/or state and/or county when the user doesn't include those fields but did include lat+lng), and on Friday I wrapped all those calls in try:except

[2021-03-08 21:20] JChipault commented on #458
That brought up something new to me... I didn't realize that the business rule for "if you have a lat+lng then you don't need country+state+county" was active. Working through the front end, I can't clear out country and I can't click the "save event" button unless I have state+county. Screen shot of what it looks like if I have a lat+lng and try to get away with not having state+county:

![image]

[2021-03-11 23:19] aaronstephenson commented on #458
I chatted with Neil today, he gave me the green light to deploy the fix.

Fix implemented in 2.0.19 dc50f66 and pushed to both test and prod servers.

[2021-03-12 17:59] JChipault commented on #458
@aaronstephenson  @nbaertlein  New issue that I think is related: can't save events with lat/longs now.

Got message from partner Nancy Businga at 845a about how she couldn't save an event on the live site. She got this message when she tried to save:
![image](https://user-images.githubusercontent.com/49287076/110978681-4cc7ea80-8329-11eb-98cf-e71569a90138.png)

I told her to try removing the lat/

[2021-03-12 18:49] aaronstephenson commented on #458
Ugh. So the validator as written was looking up the county (as found by reverse geocoding the lat/lng) using just the county name. There are currently 17 Monroe Counties in the table, and the first occurrence was being returned (from Alabama), which of course didn't match the lat/lng that was submitted (Wisconsin). I'll need to improve the validation to use both county name and state name. Fix com

[2021-03-12 19:15] aaronstephenson commented on #458
Fix implemented in v2.0.20 53bf1a5 and pushed to both test and prod servers.

@JChipault thanks for the thorough bug report on this, it was a huge help. When I was testing my code when I originally wrote these validations I had just been using Dane County as the location, and since there's only one of those in the DB table this scenario never came up for me. I should have used a more popular locat

[2021-03-12 19:15] #458 closed

[2021-03-12 19:24] JChipault commented on #458
@aaronstephenson Thanks for the quick fix!  So since I was able to add the lat/long into this event from the event details page, is it not checking that a lat/long is within the county in that setting? Or is it that the code is checking the right county-state combo from the event details page? If the former, not sure it's something to spend time fixing, but I'm just trying to figure out what our p

[2021-03-12 19:39] aaronstephenson commented on #458
Right now it's only doing that validation on event creates, not updates.

[2021-03-12 20:04] JChipault commented on #458
@nbaertlein - are you ok just adding extending this validation to the edit event page to the wish list for future development?

[2021-03-12 20:17] nbaertlein commented on #458
@JChipault Yes.  Let's add this to the next development effort.  As I mentioned to Blake and Aaron in a chat, I think we could leverage this bit of code for new functionalities.
Thanks for tackling Aaron.

[2021-03-23 18:41] JChipault opened #465 "WHISPers admin role can't mark events complete"
I'm in the new v2.16.6 on the live site and I'm logged in as jchipault (WHISPers admin role). I was updating event 201147. I was able to mark it from complete to incomplete, add an event org, delete an event org, and change the process status, and then when I went to mark the event complete again, I got this:

![image](https://user-images.githubusercontent.com/49287076/112200342-23d30f80-8bdd-11eb

[2021-03-23 19:07] aaronstephenson commented on #465
Ugh, looks like the block of code that checks permission to edit the `complete` field lost the checks for superadmin and admin roles. Must have missed it during the merge conflict review I just did last week. Fix coming right up.

[2021-03-23 19:19] aaronstephenson commented on #465
Fixed in 2.1.1 d26ac2d and pushed to both test and prod servers.

[2021-03-23 19:19] #465 closed

[2021-03-24 22:34] JChipault opened #468 "Can't save events with lat/longs"
**Describe the bug**
Heard from external partner and internal user that live site was not allowing them to save events that had lat/longs. I figured it was because their lat/longs weren't within the county they had selected, but when I played around with it a bit it seems it's not letting through any events with lat/longs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Event in the t

[2021-03-25 04:12] aaronstephenson commented on #468
This is a slightly different problem from the ones solved in #458.

I found that your step 2 resulted in an "index out of range" error (which shows up as a JSON parse error in the client because the server is returning HTML not JSON) because my code was assuming that the Geonames web service would return a JSON response that included an admin level two (code 'ADM2)) value. The lat/lng in your step

[2021-03-25 13:57] JChipault commented on #468
Perfect. Thanks! Thanks also for modifying the error message that pops up when the lat/long is not in the county.

[2021-04-06 16:53] nbaertlein commented on #468
@aaronstephenson We had a report last week of a similar issue seen on the event details - add location form.  Do you know if the updates applied above would also apply to this form?

Details:
For event 201172, a user tried to add a new location to the already existing event.  When trying add both a county (Montgomery, TX) and lat/long, he got an error stating he couldn't save with a lat/long.  The

[2021-04-06 20:26] aaronstephenson commented on #468
Yep, that would use the same validation as when creating a new event. I'll take a look. My guess is that the lat/lng is either not in the county, or there's some county name lookup problem.

[2021-04-06 20:51] nbaertlein commented on #468
I verified the lat/longs as he later entered them for Montgomery county and they check out fine.  It's impossible to know if he was misentering on the first go around.  Flip-flopping lat and long values or dropping the minus symbol off the longitude are common entry errors that I could see causing issues.  As is with the other county name issues you looked at, 'Montgomery' is pretty common.  thank

[2021-04-06 22:03] aaronstephenson commented on #468
I discovered that the problem here is that the Geonames web service is returning Harris County for the submitted lat/lng. Looking on a map, the point is very close to the boundary between Harris and Montgomery, so there may be some issue with disparate projections between the submitted lat/lng and the Geonames web service, or perhaps Geonames is using coarser polygons than the map I used while tro

[2021-04-06 22:40] aaronstephenson commented on #468
Changed in 2.1.3 509c1ac and pushed to test and prod servers.

[2021-04-30 16:34] JChipault opened #473 "Distinction of AND and OR in search"
The and/or within a search criteria isn't working. Examples follow:
Diagnosis Type (if search for bald eagles and bacteria AND fungus, get same results as for bald eagles and bacteria OR fungus)

Event Diagnosis (if search for bald eagles and Toxicosis (lead) AND Anemia, get same results as for bald eagles and Toxicosis (lead) OR Anemia)

Species (if search for bald eagles AND American coot and ba

[2021-05-06 22:18] nbaertlein opened #474 "Null start date on legacy events"
I can't remember if we had this addressed in earlier versions...

Most legacy events (whispers_event.id < 200000), have start and end dates at the event level, but do not have dates at the location level.  Because of this, any update that is made (like toggling from 'complete' to 'incomplete') the standard date business rules are applied and overwrite the valid event dates with the null location d

[2021-05-12 15:55] JChipault commented on #468
@aaronstephenson   Running into an issue here again on both test and live sites. County = Santa Cruz, AZ. Lat/Long = 31.3800792,-111.13646.  Santa Cruz is a common county name and this lat/long is on the border of Arizona and Mexico so I'm not sure which of the issues listed earlier in this string might be causing the problem. Here's the error message that the user gets:
![image](https://user-imag

[2021-05-18 21:45] JChipault opened #475 "error message when trying to create event; event saves even though error msg says it didn't"
Received report on May 7 from a user in Idaho (Tricia Hebdon): "the system threw an error when I was adding our last event and now it is in the system 3 times? Not sure how this happened or what I did."

Neil took a look and found that this event information was actually entered 7 times total; he deleted 6 of the events and kept 201273. He noticed that the time stamps for event creation were space

[2021-05-19 22:03] nbaertlein commented on #468
We received another similar error.  The message was different, but I was able replicate the error on the test site.  Removal of lat-long fixed the issue.  Lat-long is extremely close to the county border.

Error read as:
"Error. Event not Submitted. Error message: SyntaxError: Unexpected token K in JSON at position 0"

Data were:
 {
  "event_reference": "",
  "event_type": "2",
  "complete": false

[2021-05-24 13:45] JChipault opened #476 "Non-NWHC users getting notifications with changes to NWHC-only fields"
**Describe the bug**
If a partner owns an event, and NWHC makes changes to the NWHC-only fields, the partner sees those field changes in their notifications, even though they can't see those fields on their event details page.

**Steps to reproduce the behavior**
1. abilenetest account has custom notifications for any updates to events in California and any updates to "Your Events"
2. abilenetest

[2021-05-24 15:18] BlakeDraper commented on #473
@aaronstephenson I checked these and can confirm - the services seem to be ignoring the `and_params` query param in the request. The client is indeed sending it, but results do not respect it.

[2021-05-24 15:50] BlakeDraper commented on #474
@aaronstephenson and @nbaertlein This would be in Aaron's court, but it feels like we need to discuss. Since event start date /end date is calculated and not directly entered, the business rule truly 'rules' these data fields. Without some way to indicate that an event is a legacy event (which does not currently exist in the data model) - there is no way to objectively apply this. You could have a

[2021-05-24 16:09] nbaertlein commented on #474
Given then limited amount of time, I'd only recommend if it were reversion in existing code, or if it were a super easy fix.

I agree arbitrary assignment of legacy event is not the best (id < 200000 or create date < -'2019-xx-xx').  I think a relatively easy fix for event start is that it could not be replaced with a null value.  Unfortunately, this is not so straight forward with end date as an

[2021-05-24 18:25] BlakeDraper commented on #475
This is a common problem we have been aware of for a while. It is true - clicking save again would simply re-submit the form data entered, which is exactly how these events got created multiple times. That much I know. What we need to investigate is why the error is coming back from the server when the event submit actually succeeds. We may need to test by entering a new event with the same data a

[2021-05-24 19:23] aaronstephenson commented on #468
The underlying problem here is the inexact match / noncontiguous topology between the source geographic data (user) and the geographic data being used to confirm topological accuracy (Geonames). At the edges of counties, being off by even a meter between the two datasets could cause an error.

@nbaertlein @JChipault  I suggest we just scrap this entire check (lat/lng in submitted county). As long

[2021-05-24 19:24] aaronstephenson commented on #473
I suspect this has something to do with the change to using the django-filters package instead of custom-written filters.

[2021-05-24 19:24] aaronstephenson commented on #474
@nbaertlein  As Blake says, this is just how it's always operated, following the business rules. We could easily add a "hidden" field to the event table (perhaps named "legacy", type Boolean) that no one except the DBA and the API programmer would ever see (in other words, it would not be included in the serializer and therefore never exposed as JSON), and use that when applying business rules (wh

[2021-05-24 19:24] aaronstephenson commented on #475
@JChipault  As Blake says, I would need the same JSON that the user submitted in order to test this scenario locally and debug it.

[2021-05-24 19:24] aaronstephenson commented on #476
@JChipault  Huh, that certainly wasn't intentional. I have a pretty good guess where the problem is (likely an oversight in the serializer field lists).

[2021-05-24 19:25] BlakeDraper commented on #475
@aaronstephenson since the user would not still have that, I think we can just create it from the event data that exists for the event in question.

[2021-05-24 19:27] aaronstephenson commented on #475
Sorry, I was implying that Jenny compile that JSON. I could certainly do it too, I'm just trying to be cognizant of how I spend my remaining hours.

[2021-05-24 19:45] nbaertlein commented on #474
Ok. Let's leave as is.  We hope to update these events in the future so I don't want to spend the time on a work around.
As for the 'reversion', that came from me.  I couldn't remember if we had discussed a while back (like years back) and had addressed it.  Thanks for clearing that up.  So many things to remember .... :P

[2021-05-24 19:49] #474 closed

[2021-05-24 20:33] aaronstephenson commented on #473
Yep, that's exactly what it was. The query params were no longer in the kwargs dict (where the code was looking for them), but in the request dict. Working on the fix now.

[2021-05-24 21:12] JChipault commented on #475
I tried entering the info I see in 201273 as an event in the test site but it saved fine as 171010

[2021-05-24 21:14] JChipault commented on #468
@aaronstephenson  I see this up above in this string: "As a solution for now, Neil and I agreed to make this a "soft" validation... if the validation code finds that the submitted lat/lng is not in the county that the user submitted, we'll send an email to the admin team with the details, but still allow the EventLocation creation to proceed without an error to the user."

Is that still a possibil

[2021-05-24 21:18] JChipault commented on #468
@nbaertlein thoughts on debugging vs just turning it off altogether? I'm ok either way.

[2021-05-24 21:42] nbaertlein commented on #468
@aaronstephenson  I wouldn't spend too much time on it.  If we can't get it to work, we'll do some QC on the back end against the points in the county table instead.  Main goal is to get the data into the system.

I'd like to keep this segment of code for future development though.  I could see a means to auto populate county, state, etc. based on an entered lat/long or from a map picker.  We can

[2021-05-24 21:49] aaronstephenson commented on #473
This should now be fixed in 1dd1b24, and I have pushed the changes to the Test server only. @JChipault care to try your queries again to confirm this is fixed?

[2021-05-24 21:50] aaronstephenson commented on #468
OK. I'll just take a look over the code. I'm fairly confident that I can find the problem quickly, and failing that it wouldn't take much time to just comment out the relevant code blocks.

[2021-05-25 14:39] JChipault commented on #473
@aaronstephenson The AND search still seems wonky.

For example, if search for Event Diagnosis = Toxicosis (lead) OR Peritonitis and species = bald eagle, get 9 results. Note event 13319, which has both lead and peritonitis. Yet when I search for Event Diagnosis = Toxicosis (lead) AND Peritonitis and species = bald eagle, get NO results.

[2021-05-25 15:36] aaronstephenson commented on #473
@JChipault  I just ran those same searches in the test web client and got 9 results using OR and 1 result (event 13319) using AND. As confirmation, I ran those same searches using the API:

https://whisperstest.wim.usgs.gov/api/eventsummaries/?diagnosis=321,337&species=181
returns 9 results, the same as what you got.

and

https://whisperstest.wim.usgs.gov/api/eventsummaries/?and_params=diagnosis&

[2021-05-25 15:52] JChipault commented on #473
Huh, it gets more strange. I was logged in as abilenetest. When I logged out, I get that 13319 as expected during an AND search. Log back in as abilenetest and get no search results. That event is not private. Not sure why abilenetest would not see it????

[2021-05-25 15:55] JChipault commented on #473
abilenetest password is testtesttest2! if you want to try it out

[2021-05-25 16:00] aaronstephenson commented on #468
Very strange. I was logged in as Admin and it worked as expected. I'll try different roles.

[2021-05-25 16:05] JChipault commented on #473
When logged in as abilenetest, I can do a search for event=13319 and it shows up. But when I do a search for event=13319 and event diagnosis = Toxicosis (lead) AND Peritonitis, get no results. If I do the OR version of the event diagnosis search, 13319 shows up again.

[2021-05-25 16:07] JChipault commented on #473
same issue in both Firefox and Chrome

[2021-05-25 16:09] aaronstephenson commented on #473
Yeah, the API works the same regardless of client. JS clients sometimes behave differently in different browsers, though.

[2021-05-25 16:33] aaronstephenson commented on #473
OK, I figured out why a partner user gets an empty response for this query. It has to do with how django combines two lists. Apparently, when using the recommended pipe operator (`|`), if one of the two lists is empty, the result is also empty, which is not at all what I expected. I'm testing a workaround now.

[2021-05-26 13:51] JChipault commented on #475
Happened again yesterday (5/25). Had new user (Eva in Louisiana) try to create their first event and they got a SyntaxError that read “Unexpected Token T in JSON at position 0”. Turns out that event 201311 had saved anyway but Eva didn't realize that.

Our staff was trying to help Eva and advised removing the lat/long (since we know we have a problem with that) and Eva said "I tried removing just

[2021-05-26 13:54] aaronstephenson commented on #475
No, I don't need the duplicates. I'm not working in the prod DB anyway.

[2021-05-26 15:37] aaronstephenson commented on #473
Hi @JChipault sorry to bother you, but are you able to test this fix this morning? I have another bug fix (for issue #468) that I would like to deploy to the test server but I don't want to mingle two fixes, to keep things tidy.

[2021-05-26 15:42] JChipault commented on #473
Thanks for the prompt. Will test now. Have been spending most of the morning on the 475 ticket.

[2021-05-26 16:23] JChipault commented on #473
Still some strangeness.... mostly seems related to accounts/permissions. For example, if I'm logged out (so just unregistered public user) and do search for Bacteria OR Fungus and Bald Eagle, I get 12 results. If I log in as abilenetest, I suddenly get only 1 result (which is what I should get if the search were Bacteria AND Fungus and Bald Eagle; but I haven't changed the search). Log out, and I

[2021-05-26 16:51] aaronstephenson commented on #473
I get 12 results for Bacteria OR Fungus and Bald Eagle, both when not logged in and when logged in as abilenetest. I tried the search on two different browsers. I asked a coworkers to try it out and she got the same results as me.

Are you maybe using the prod site when doing this search?

[2021-05-26 16:57] JChipault commented on #473
definitely in the test site. just tried it again and it happened

[2021-05-26 17:02] JChipault commented on #473
are you keeping the same browser tab open and just logging out and logging in? looks like it's maybe only an issue in Chrome for me

[2021-05-26 17:03] JChipault commented on #473
Version 90.0.4430.212 (Official Build) (64-bit)

[2021-05-26 17:04] aaronstephenson commented on #473
We log in and out in one browser tab. Have you tried clearing your cache? Can you maybe try a different computer or ask a colleague to give it a try?

[2021-05-26 17:24] JChipault commented on #473
ok, working now with cache cleared. also works on my personal laptop

[2021-05-26 17:27] aaronstephenson commented on #473
Thanks for checking!

[2021-05-26 17:27] #473 closed

[2021-05-26 17:29] aaronstephenson commented on #468
@nbaertlein @JChipault this is fixed in 077bdf8. I just pushed it to the test server. Can you give it a try now?

[2021-05-26 18:09] aaronstephenson commented on #476
I think I found it. The code for these NHWC-only fields is just checking for event ownership/org membership. <slaps forehead>

[code]

The fix is to change that line of code to check if cue_user is in NWHC. Quick fix.

[2021-05-26 18:23] aaronstephenson commented on #476
Yep, that was the problem. After my fix, the output for user abilenetest is exactly as expected.

Here's the output from before the fix:

Here's the output from after the fix:

[2021-05-26 18:29] aaronstephenson commented on #476
Fixed in 9406dfe4 and pushed to test server. @JChipault give this a test when you have the time.

[2021-05-26 18:34] JChipault commented on #475
@aaronstephenson Got more info from Eva... she said she DID include a service request when she tried to submit data yesterday and hit that token error but I did not see any service request data when I looked closely this morning at event 201311 that she created. I was able to add the service request to 201311 today but, since we've had issues with that service request module and it's associated em

[2021-05-26 19:02] aaronstephenson commented on #475
I looked at the logs and here's the underlying error:

[code]

It's a type mismatch, python can't convert a null into an int. Easy fix. I'll look around for other similar situations, too, and fix them if there are any.

[2021-05-26 19:19] JChipault commented on #468
@aaronstephenson Cleared cache, logged in a jennypartner1, created event in Santa Cruz County, AZ with lat/long mentioned above and got this toast:
![image](https://user-images.githubusercontent.com/49287076/119718604-60192b00-be2d-11eb-8e42-64acd391d747.png)

[2021-05-26 19:19] aaronstephenson commented on #475
Fixed in 40eeb32b and pushed to test server. I found just the one occurrence of that situation. Please try it out when you can.

[2021-05-26 19:37] aaronstephenson commented on #468
So this one is slightly different from the others, it says lat/lng are not in the submitted country, not county, so it's not in the section of code that I've altered. And it looks like Geonames thinks that that coordinate is in Mexico ☹️, hence the validation error.

Guess I'll go thru all these lat/lng validations and change them all to send an email to the admin rather than return an error to th

[2021-05-26 20:04] JChipault commented on #475
I wasn't able to reproduce the issue before so not quite sure how to test it. And I don't know code well enough to understand the bug you found. Would that bug explain why the service request data was not saved for 201311 yesterday?

I did try the bulk upload again (noted previously in this string) and the error message changed to:
![image](https://user-images.githubusercontent.com/49287076/119723

[2021-05-26 20:06] JChipault commented on #468
Nice catch - I missed that important "r" in the error message!

[2021-05-26 20:14] aaronstephenson commented on #475
Yes, the error I found in the code explains why the service request was never created.

The error happened at a point in the event creation process immediately prior to the service request creation. So the event itself, plus all child objects (event locations, event collaborators, event organizations, event comments, and event groups) were all created just fine. Then the code encountered an error

[2021-05-26 20:20] JChipault commented on #475
I think I can get you json data but don't know if that'll help with the uploader bug. let me look into that a bit more... be back in touch shortly...

[2021-05-26 20:31] aaronstephenson commented on #468
OK, I changed all lat/lng validations (country and state, in addition to county that was already changed) to no longer return errors to the user, but send emails to the admins instead. Fixed in b51360e and pushed to the test server just now.

[2021-05-26 20:32] JChipault commented on #475
Here's the JSON that I pulled from the "Form data JSON" section of the frontend while logged in as jchipault. The event saved fine though, so not sure this will tell us anything. Fixing the bulk uploader is not nearly as important as just being able to use the Create Event form without error messages so perhaps your fix will do the trick for create event and I create a separate (low priority) tick

[2021-05-26 20:57] aaronstephenson commented on #475
OK, I installed the whispers client on my laptop in order to see what's going on, and got the exact same validation error that you got.

It appears that the bulk uploader _is_ submitting an event diagnosis, with a literal value of "null". This is distinct from an empty value for event diagnosis, which is allowed by the API. To illustrate, this is what the bulk uploader is sending:

![image](https:

[2021-05-26 21:11] JChipault commented on #475
ah, interesting. I just re-checked the .csv file to see if there was a space in the diagnosis cell and it doesn't seem like there was. I hit backspace/delete a lot in that cell. Tried the uploader again and still got that diagnosis error message.

[2021-05-26 21:19] JChipault commented on #476
@aaronstephenson I'm signing off for the day. Will check this (and other tickets) more tomorrow.

[2021-05-27 15:48] BlakeDraper commented on #475
@aaronstephenson @JChipault I found the problem and fixed it. Upcoming in another patch release.

[2021-05-27 19:12] JChipault commented on #468
this seems ok for now. the emails to whispers@usgs.gov seem spotty, but the user is able to enter data without hitting the error message dead end so we'll call that a win! Thank you!

[2021-05-27 19:39] JChipault commented on #476
Set up some more testing, with notifications coming in over night, so will report back tomorrow.

[2021-05-27 19:42] aaronstephenson commented on #468
Great!

I'm curious tho, can you tell me more about spotty emails? If there's an underlying problem I want to fix it. I looked in all the logs and I don't see any problems, so I'd like to reproduce what you did on my laptop to have more debugging options.

[2021-05-27 19:50] JChipault commented on #468
I haven't dug into it much so am a bit reluctant.... but.... whispers@usgs.gov got a "Third Party Service Validation Warming" email when I created an event with the Santa Cruz County, AZ lat/long above (actually we got two identical emails). But when I created an event with the Denton County TX lat/long above, that seemed to not send an email (created event 171024). To that 171024 event, I added t

[2021-05-27 19:52] JChipault commented on #468
maybe the emails have issued and just haven't shown up in our dropbox yet?

[2021-05-27 20:14] aaronstephenson commented on #468
I just tried all three locations locally, and all three triggered emails. I can't explain why the test server would behave differently, it's the same code. I don't see any errors in any of the server logs, either, but I'll keep poking around up there.

The two emails are because these validations happen both in the Event and in the EventLocations. I'll just comment out the code block in Event to p

[2021-05-27 20:23] JChipault commented on #468
Coconino emails just came through...

[2021-05-27 20:48] aaronstephenson commented on #468
In a side discussion, we think an Apache Web Server restart on the test server fixed the problem of the country validation emails not triggering.

Also, I just pushed a tiny change (cb97777) to the test environment that prevents the duplicate emails and corrects a typo in the county validation email.

[2021-05-28 17:15] JChipault commented on #476
Hmmmm... not getting any notifications now for this scenario.

5/25
Event 171014 was created by JennyPartner1. Event is in California. JChipault logged in and added abilenetest as a read/write collaborator, changed NWHC-only fields, changed end date, and changed complete status.

5/26
Expected Custom notification (state=California) in abilenetest account that would include change to end date and c

[2021-05-28 18:08] aaronstephenson commented on #476
Oh for goodness sake, I made a boneheaded move. When I was debugging this problem, I set the `get_yesterday()` function to get 5 days prior (so I could grab event 171009 and test the fields being returned), and then forgot to change that back to 1 day prior.

I'll change it back to 1 day prior, and then rerun celerybeat so that the proper notifications get triggered.

[2021-05-28 18:25] aaronstephenson commented on #476
Fixed in 23771b4 and pushed to test environment. Apache, celery, and celerybeat all restarted.

@JChipault note that the 'modified_date' on Event 171014 is May 28, so that won't appear until tomorrow's batch of notifications.

[2021-05-30 11:25] JChipault commented on #476
Cool. What I received in the abilenetest account on May 29 is what I expected. Looks like this is fixed. Thanks

[2021-05-30 12:41] JChipault commented on #468
Created events 171027-171030 with abilenetest account on the test site with some of the country/county/lat/long combos mentioned in this string. Was able to create all events (yay!) so, again, we can stop here and call that a win. However, looks like the only email that came through to whispers@usgs.gov is one that violated the countRy match (171030). There was only one copy of that email this tim

[2021-05-30 12:45] JChipault commented on #468
Whoops - not out of the woods yet - tried creating an event with the Denton County, Tx lat/longs listed above (33.050072, -96.895581) but put it in the state of Alabama (county Autauga) to see if I'd get an email at whispers@usgs.gov when the state and lat/long don't match and I WAS NOT ABLE TO SAVE EVENT. Got this error message:
![image](https://user-images.githubusercontent.com/49287076/12010456

[2021-06-01 16:36] #476 closed

[2021-06-01 18:47] aaronstephenson commented on #468
171027 didn't send an admin email because its lat/lng (36.865720, 111.586500) is in China, which doesn't use the standard administrative levels one and two like most of the rest of the world. Their analog to 'ADM2' is 'PPL', which apparently is a 'city', and so there's no way for me to directly compare that to our admin level twos, so the code just skips all those validations that would normally h

[2021-06-03 14:14] nbaertlein commented on #468
Jenny is out of the office so I tested a few of the scenarios listed above.  Not sure if I got them all, but here's what I have.  All the following scenarios successfully saved AND send the appropriate admin validation emails.

- US county and point in China:  Event 171033 - Coconino County, AZ   36.865720, 111.586500
- US county and borderline point:  Event 171034 - Santa Cruz County, AZ   31.380

[2021-06-03 14:19] nbaertlein commented on #468
Not sure if it matters, but looks like this scenario created 2 emails:

- US county and point in the ocean: Event 171036 - Honolulu County, HI 25.346546, -152.495607

[2021-06-03 16:09] aaronstephenson commented on #468
Right you are about the 2 emails, I had two different code blocks doing nearly identical geonames validations. Fixed in d5a94eb and pushed to test environment.

[2021-06-08 13:22] JChipault commented on #468
Did a bit of testing and looks good to me. Thanks!

[2021-06-08 13:31] JChipault commented on #475
@BlakeDraper Can you let me know when this is ready for testing again?

[2021-06-08 13:33] BlakeDraper commented on #475
@JChipault  It is ready now. Sorry - got lost in the notification shuffle since this conversation moved to the backend repository issues.

[2021-06-08 13:46] JChipault commented on #475
Still getting this:

![image](https://user-images.githubusercontent.com/49287076/121196312-fdb12900-c835-11eb-9d90-ab71cd505433.png)

[2021-06-08 13:57] BlakeDraper commented on #475
@JChipault  Ugh sorry my bad - I totally lied. I forgot this fix came after those others and actually _isn't_ up on test yet. I apologize for wasting your time there.

[2021-06-08 17:03] BlakeDraper opened #489 "Add field species_most_affected field to the eventsummary endpoint response"
This field will need to calculate which species within the event has the most individuals affected. In other words, it will need to add up the cumulative affected count for each locationspecies, compare across the whole event, and provide the species with the highest total affected count (ideally the whole species object, but can also work with just the species ID if necessary).

Background: the r

[2021-06-08 20:27] aaronstephenson commented on #489
Would this field be available to the public, or just to the owner + org + collab, or just admins?

[2021-06-08 20:52] BlakeDraper commented on #489
Available to public

[2021-06-09 16:39] aaronstephenson commented on #489
Field added in 30225b8 and deployed to the test environment.

[2021-06-11 15:49] BlakeDraper commented on #489
Hold off on promoting this to prod. See (https://github.com/USGS-WiM/whispers/issues/1197) for details.

[2021-06-11 20:25] JChipault commented on #475
@BlakeDraper Bulk upload works now - thanks!

[2021-06-23 20:33] aaronstephenson commented on #489
Removed in e93568f.

[2021-06-23 20:33] #489 closed

[2021-06-23 21:16] aaronstephenson commented on #468
Fix included in v2.1.4 21520fb and deployed to production environment.

[2021-06-23 21:16] #468 closed

[2021-06-23 21:16] aaronstephenson commented on #475
Fix included in v2.1.4 21520fb and deployed to production environment.

[2021-06-23 21:16] #475 closed

[2021-07-08 17:58] JChipault opened #499 "Event Detail reports not generating for all roles"
**Describe the bug**
For some roles (e.g., partner admin, partner manager, partner user), the event details report doesn't generate. First heard about this bug from Nancy Businga (partner admin) on live site; she has generated lots of event detail reports in the past and all was working ok for her previously. After hearing from Nancy, I then tested on test site with jennypartner1 (partner manager)

[2021-07-16 18:57] aaronstephenson commented on #499
@JChipault This bug fix is now pushed to the test environment. Give it a try and let me know how it goes for you.

[2021-07-20 19:44] JChipault commented on #499
Just testing now because I was on leave. Looks good!

[2021-07-20 19:49] #499 closed

[2021-07-20 20:02] JChipault commented on #499
@aaronstephenson Can you let me know when it hits the live site so that I can let our partner know that it's fixed?

[2021-07-20 20:27] aaronstephenson commented on #499
Fixed in v2.1.6 78c69f0 and pushed to the production environment.

[2021-07-29 17:29] JChipault opened #503 "redirect www.whispers.usgs.gov to whispers.usgs.gov"
We want to use whispers.usgs.gov as the url that we publish in outreach materials but if someone tries to type in www.whispers.usgs.gov, they get some version of this:

![image](https://user-images.githubusercontent.com/49287076/127536265-b0dd5434-5318-4115-ad63-01d388f0f33c.png)

This issue might come into play if, say, a partner is looking at an email with outreach material on their phone and th

[2021-07-30 21:03] aaronstephenson commented on #503
This is a back-end issue, so I transferred it. I wrote a rewrite rule in the Apache config to handle this, but then I remembered that the EROS WAF is involved, and so all requests to www.* are getting dropped there (because there is no matching server for that subdomain in their rules). I will email our new EROS contact to request that they add the www.* subdomains to their WAF rules so that my Ap

[2021-08-04 18:37] aaronstephenson commented on #503
Our EROS contact says that their WAF has been updated for the www.* subdomains, but that we need to request the USGS DNS team create new DNS records and point them at the EROS WAF. It slipped my mind that our SSL certs don't cover subdomains that deep (for example, WHISPers prod uses the general usgs.gov wildcard, which allows whispers.usgs.gov but not www.whispers.usgs.gov).

[2021-08-04 21:58] JChipault commented on #503
@aaronstephenson  Is there anything we need to do for this or is the above notes to yourself? (Sorry, I don't know the lingo).

[2021-08-04 22:06] aaronstephenson commented on #503
Just progress updates, for documentation purposes. No tasks for you.

[2021-08-05 17:34] aaronstephenson commented on #503
Here's what the USGS DNS folks replied:

What would you like to do?

[2021-08-06 18:23] aaronstephenson commented on #503
@nbaertlein @JChipault ☝️

Sorry, I should have "@-ed" you yesterday.

[2021-08-06 19:22] JChipault commented on #503
@aaronstephenson  I sent it to Neil yesterday and he and Ali are contemplating. Thanks!

[2021-08-09 17:27] JChipault commented on #503
@aaronstephenson We decided to put this on hold. If we start getting feedback that users are running into the issue of finding the site based on not having this redirect, we now know that our next step will be to purchase SSL cert, so thanks for that info!

[2021-08-16 14:41] JChipault opened #504 "Remove inactive users from receiving notifications and from collaborator options dropdown"
**Describe the bug**
We noticed that a partner admin with an inactive account (Bob Dittmar, who passed away) was getting emails about user requests in his organization even though his account is inactive. Can we make is so that inactive accounts do not get any notifications at all?

Inactive users are also still available on the collaborator dropdown list (see screenshot) and shouldn't be. Can we

[2021-08-16 16:33] JChipault opened #505 "Add Pacific Flyway to Hawaii events"
**Describe the bug**
Aaron's code has this "# HI is not in a flyway, so assign it to Pacific ("Include all of Hawaii in with Pacific Americas")" but when I create an event in Hawaii, it doesn't get marked as any flyway

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Event
2. Select state of Hawaii
3. Note that no Flyway gets assigned

Screen shot from https://whisperstest.wim.usgs.

[2021-08-16 17:20] JChipault opened #506 "Remove other partners' circles of trust from NWHC dashboard"
**Undesired Design or Confusing behavior**
NWHC users are able to see everyone's circles in their dashboard. (actually, maybe it's the WHISPers Admin role? and those just happen to all be NWHC people?... but I think we checked that and it was all NWHC users)

**If Possible, Describe a Solution**
Want to only see circles that have been created within your own organization when looking in your dashb

[2021-08-23 19:28] BlakeDraper commented on #504
@aaronstephenson this notifications issue applies to the backend code, as does the email lookup, via the `/users/verify_email/` endpoint.

[2021-08-27 13:46] BlakeDraper opened #507 "locationspecies PUT error on test services"
![image](https://user-images.githubusercontent.com/6978380/131136959-a4427229-526a-431b-aa8f-b390d9a23ea3.png)

JSON:
[code]

traceback:
[code]

[2021-08-30 20:31] aaronstephenson commented on #504
This is changed in branch 504 (4d84674c). I will deploy it when I have resolve a few more issues and can bundle them together.

One question tho @JChipault: what should be done when the _only_ notification and/or email recipient is inactive? For example, when a Service Request is created, but the event creator (the sole recipient aside from the person who created the SR) is inactive? The SR would

[2021-08-30 20:45] aaronstephenson commented on #505
@JChipault I took a look into this, and the flyway is being properly assigned to Pacific. Take a look:
https://whisperstest.wim.usgs.gov/api/eventdetails/171036/

![image](https://user-images.githubusercontent.com/8713712/131402947-6b0aa853-7918-4380-9949-9c418773cd67.png)

I think the trouble here might be that the client app is trying to read the flyway as an attribute of the event location, whe

[2021-08-30 20:56] aaronstephenson commented on #506
@JChipault The way this is written is that Anonymous (Public) users can't see any circles, SuperAdmins and Admins can see all circles, and everyone else can see the circles in their org.

Do you want me to change this so that SuperAdmins and Admins only see circles from the own org, or some kind of option to see either all circles or just circles from their own org (like with the `/eventsummaries/

[2021-08-30 21:22] aaronstephenson commented on #507
The problem here is occurring during the required "priority" field recalculation. All the Location Species related to the parent Event Location need to be reprioritized when any one of them is modified. Unfortunately, in this case (and judging by the database, hundreds of potential cases), the `modified_by` field is null, so the code fails on line 1204 when comparing user IDs. Since it is impracti

[2021-08-30 21:51] JChipault commented on #504
In addition to the event creator, SR also get sent to nwhc-epi@usgs.gov though, right?

[2021-08-30 22:21] JChipault commented on #504
Though it could apply to the Service Request Response. If the event owner and the person who made the request are the same and that one person is inactive... signing off for the day now but will puzzle over this more tomorrow

[2021-08-31 15:38] aaronstephenson commented on #504
Yes, sorry, I mean Service Request Response.

It's not a situation where the SR creator and the Event owner are the same person, which wouldn't work because an inactive user can't log in to create the SR. I just mean when the Event owner is inactive. Perhaps it's a long-running event, or one that hasn't been updated in a while, and the Event owner has retired or left the job where they used WHISPe

[2021-08-31 20:15] BlakeDraper commented on #505
I looked into this and the client does seem to be parsing the server data correctly and it does in fact display the Flyway for the event example above. In other words: this event does have its flyway, and it displays on the client.

However, I did Jenny's steps to recreate (create an event in Hawaii) and found it did not get populated with a a flyway. So it does seem something is up with the assig

[2021-08-31 21:34] aaronstephenson commented on #505
When I create an event in the API (using Insomnia), the flyway gets assigned. Is there something in the way the client submits the data that might be different? What specific location data did you choose?

[2021-08-31 22:28] BlakeDraper commented on #505
I'll leave you the exact JSON body to see if you can find the problem. The below JSON was created in the client app and created an event w/out flyways populated. I then took this exact body and submitted it using Insomnia to the same result. These created events 171048 and 171049 in the test DB. So there must be something critically different about your test submission - but this is still passing

[2021-09-01 15:04] aaronstephenson commented on #505
Thanks for the JSON. The critical difference between our attempts is that yours does not include lat/lng, which causes the flyway determination to follow a different branch where a temporary lat/lng (the county centroid) is used to look up the flyway. Which, in the case of Hawaii, doesn't work as intended because the FWS web service doesn't include Hawaii. I see now that the code snippet that Jenn

[2021-09-01 18:15] JChipault commented on #504
Yea, I think that's an edge case, but I'll make note of it in our "wish list" to maybe circle back to in the future if it starts to feel problematic. For now, I'm ok letting it ride as is.

This did prompt me to think about how this change might affect the collaborator alert feature though... let's say Bob Smith is added as a collaborator on an event when his account was active, then he changed jo

[2021-09-01 18:46] JChipault commented on #506
Change so that SuperAdmins and Admins only see circles from their own org, please.

Thanks!

[2021-09-01 19:02] aaronstephenson commented on #504
Yes, I can implement that right now, it's a simple change. I am imagining this to just be a silent removal... unless you want the event owner notified that Bob has been automatically removed because his account is now inactive?

[2021-09-01 19:07] JChipault commented on #504
Good point... I was imagining a silent removal... but that could be confusing for the user because I'm assuming that Bob Smith would still be listed as a collaborator in the read vs read/write section (because maybe he did contribute to the event in the past) so does that leave the event owner wondering why Bob Smith isn't an option in the collaborator alert interface? Possibly. How hard would it

[2021-09-01 19:15] aaronstephenson commented on #504
I think the easiest way to notify the event owner is just a notification and/or email at the time that Bob is made inactive, saying that Bob is now inactive and will no longer receive notifications and will no longer be addable as a collaborator. Otherwise, something like a message on the collaborator alert interface would require a subsystem to manage those kinds of messages for that interface pl

[2021-09-01 19:20] JChipault commented on #504
ah, ok... thanks for explaining... let's just do a silent removal for now then and I'll put thinking about how to notify people about that on our "wish list" for the future.

[2021-09-10 19:00] JChipault commented on #507
I'm not sure how to test this bug fix since I'm not sure what the bug was... anything I need to do here?

[2021-09-10 21:24] aaronstephenson commented on #507
@JChipault nothing for you to test here, just something internal that Blake found, and is now fixed.

[2021-09-20 13:41] JChipault opened #513 "standard and custom notifications not being emailed out"
A partner from Wisconsin DNR pointed out that she's no longer getting emails based on her pre-set notifications. I perused my email and looks like the last custom or standard notification that I received from the live site was on 8/18.

Neil looked and could see that the notifications are being created but not emailed.

Is there a way we can prevent these notifications from going dark without us k

[2021-09-20 16:06] JChipault opened #514 "QC needed email not issued during Create Event"
Seems that no "Quality Check Needed" notification email is going out if the "process status" field is set to "quality check needed" during Create Event. (seems to work fine from the Event Details Page)

Was first alerted about this based on not receiving a QC needed email for event 201477 on the live site.

To further test, on 9/14/21 I created 171052 on the test site and received no QC needed ema

[2021-09-20 21:26] aaronstephenson commented on #513
I looked at the notifications table, and it appears that all the records since 8/18 are of the "immediate" variety (that is, the notification and email are created and sent immediately, like collaborator requests), rather than the "scheduled" variety (the nightly custom and standard notifications). So I don't think it's that emails aren't being sent, I think the problem is that the scheduled tasks

[2021-09-20 22:07] aaronstephenson commented on #514
The code that processes the "Quality Check Needed" notification is on the Event model, which is independent of the code that handles the branching "create" and "update" use cases. In other words, the "Quality Check Needed" notification code runs every time an event is saved, regardless of whether the event was just created or updated.

Additionally, that "Quality Check Needed" notification code bl

[2021-09-20 22:28] aaronstephenson commented on #514
@JChipault This feature was added in 5b62dbe and is now available on the test server.

[2021-09-20 22:41] aaronstephenson opened #516 "Debug Custom Notification Error When Using 'AND' Operator in Species Diagnosis Field"
Traceback:

[code]

This seems to be the offending query:

[code]

[2021-09-21 15:36] JChipault commented on #514
I created two events on the test site that were marked as "quality check needed" (one complete  (171054) and one incomplete (171053)) and also edited a pre-existing event (171048) to be "quality check needed" and have not received any email notifications about any of them in the past half hour since I did the creating/editing. I was expecting 3 emails.

[2021-09-21 16:10] aaronstephenson commented on #516
Fixed in 1ffc437c.

Solution was to use separate queryset that only selects event the ID column, then use the resulting list of IDs to filter the main queryset.

Note that this problem also occurred on the admin level one and species criteria in the custom notifications code, so I applied the same solution to those.

[2021-09-21 16:10] #516 closed

[2021-09-21 16:14] aaronstephenson commented on #514
@JChipault can you send me the JSON that the client app generates for these? Debugging the API goes so much faster when I don't have to use the client to create an event and wrack my brain to get all the details correct; you know the subject matter better and can create an event with the exact criteria much faster than I can.

[2021-09-21 16:44] JChipault commented on #514
I'm actually wondering if it's something that needs to be reset with regard to notifications being issued/emailed. I say this because on 9/14/21 [quoted from earlier in this ticket string] "I edited event 171046 and set it to "quality check needed" and DID receive an email." So today I edited 171048 in a similar way, kind of as a control, assuming that I'd surely get that email since that was work

[2021-09-21 16:45] JChipault commented on #514
Also, I think these notifications are instant (not overnight), correct? I think we talked about making them overnight at some point (which might explain why some of your code is written for that) but I took a look back at the time stamps for previous Quality Check notifications and they were coming in throughout the workday

[2021-09-21 17:56] aaronstephenson commented on #514
Thanks for the JSON, that'll help me troubleshoot much faster.

Take a look at the source code here and tell me if anything isn't right:
https://github.com/USGS-WiM/whispersservices/blob/test/whispersapi/models.py#L353

That code runs on every event save (all creates and all updates) no matter what.

The deciding logic for the "Quality Check Needed" notification is essentially this:
[code]

[2021-09-21 21:03] aaronstephenson commented on #514
Yes, the notification and email are instant; the way the code is written is just to guard against multiple notifications for the same thing, not because it was intended for nightly runs.

I just used your example JSON locally and everything worked as expected, and the notification record was created and the email was sent. So this appears to be a problem with the server, not the code. I'll look in

[2021-09-22 01:13] aaronstephenson commented on #514
I looked at all the celery logs and rabbitmq queues on the test server from today, and here's what I saw:

At 10:03:55 an email was sent to user 'nwhc-epi' with subject 'TEST. TEST. Quality Check: Event 171053'.

At 10:05:12 an email was sent to user 'nwhc-epi' with subject 'TEST. TEST. Quality Check: Event 171054'.

At 10:07:56 an email was sent to user 'nwhc-epi' with subject 'TEST. TEST. Qualit

[2021-09-22 01:39] aaronstephenson commented on #504
Feature added in v2.1.7 (9f5eb70) and published to the test and production environment.

[2021-09-22 01:39] aaronstephenson commented on #505
Feature added in v2.1.7 (9f5eb70) and published to the test and production environment.

[2021-09-22 01:39] #505 closed

[2021-09-22 01:39] aaronstephenson commented on #506
Feature added in v2.1.7 (9f5eb70) and published to the test and production environment.

[2021-09-22 01:39] #506 closed, assigned to aaronstephenson

[2021-09-22 01:40] aaronstephenson commented on #507
Feature added in v2.1.7 (9f5eb70) and published to the test and production environment.

[2021-09-22 01:40] #507 closed

[2021-09-22 01:40] aaronstephenson commented on #514
Feature added in v2.1.7 (9f5eb70) and published to the test and production environment.

[2021-09-22 01:40] #514 closed

[2021-09-22 14:45] JChipault commented on #514
Got it. Sorry for the wild goose chase yesterday : (  Issue was on my end had to do with the order of the "Rules" set up in the nwhc-epi@usgs.gov Outlook account. I see all those emails that generated yesterday morning now.

[2021-10-06 15:36] JChipault commented on #468
See also #458

[2021-10-07 21:59] aaronstephenson commented on #468
The lat/lng part of this particular issue is a red herring. The JSON syntax error messages you see are just the client telling you that the response it got back from the API is not in JSON format and therefore not parse-able, because the response is an HTML page automatically generated by Django that explains the error, with traceback to the line of code that caused the error.

The source of the p

[2021-10-29 19:59] BlakeDraper opened #521 "Add 'public' field with eventsummaries response for roles above Public"
Background on this issue: https://github.com/USGS-WiM/whispers/issues/740#issuecomment-949987815

[2021-10-29 21:36] aaronstephenson commented on #521
@BlakeDraper I tested every user Neil mentioned (locally, so I could change the passwords so I could actually authenticate), and I saw the `public` field in the response for every request (using the web client, the browsable API, and Insomnia).

Ohhhhh, I see what's happening. On the main page, you're using 'id' as a query param to request an event summary. The serializer is expecting a primary ke

[2021-10-29 21:42] aaronstephenson commented on #521
Fixed in b87de6ee and pushed to test environment.

[2021-11-04 17:44] BlakeDraper commented on #521
Tested on the test server and looks good. @JChipault did you want to test this yourself before we push to production?

[2021-11-05 15:46] JChipault commented on #521
Looks good!

[2021-11-05 18:48] aaronstephenson commented on #521
Pushed to production as v2.1.9 5fd774e.

[2021-11-05 18:48] #521 closed

[2021-11-05 19:22] JChipault commented on #513
@aaronstephenson Looks like we went dark again around 10/19. I touched base with Ali and he doesn't have any more input on this that he hasn't already shared via email. I'm open, but think it would be good to have some way to prevent these from silently going dark.

[2021-11-09 22:30] JChipault commented on #513
@aaronstephenson any chance we could at least get a re-start on these notifications soon, even if we put off the long-term solution for how to keep them from shutting down?

[2021-11-10 17:30] aaronstephenson commented on #513
@JChipault I restarted all three daemons (httpd, celeryd, celerybeat) on both the test and production servers. Both Neil and Tom can do this at any time, they have the same privileges on those servers as me.

As for a longer-term solution, my project manager says the next team (NWHC-WIM) check-in is next Thursday and they will discuss it then.

[2021-12-08 13:56] JChipault opened #524 ""All Events" updated option not triggering notifications"
I've been noticing for the past few weeks that I don't seem to be getting all the standard notifications that I expect and Neil helped me figure out the likely pattern - looks like notifications for updates on "All Events" aren't firing. Here's my notification preferences:

![image](https://user-images.githubusercontent.com/49287076/145220033-eed7f71b-1c16-40ff-b7c7-97cd48540a47.png)

Per Neil "Th

[2021-12-16 21:07] aaronstephenson commented on #524
Fixed in 6daff97. The problem was that I accidentally used `modified_date` instead of `created_date` in the all events (updated) query ([line 893](https://github.com/USGS-WiM/whispersservices/blob/test/whispersapi/scheduled_tasks.py#L893)). Not this only affected users with admin or superadmin roles.

I just pushed the fix to the test environment. @JChipault Let me know when you want it pushed to

[2021-12-16 21:07] #524 closed

[2021-12-16 21:20] JChipault commented on #524
Sweet!
By "Note that this only affected users with admin or superadmin roles."... do you mean those are the only users that had the "updates" for "All Events" set to trigger notifications? If so, I follow. But in the future (now that this bug is fixed) if a partner user, say, set their preferences to receive updates on "All Events", they would get these notifications, correct? Put another way, it'

[2021-12-16 21:22] aaronstephenson commented on #524
Let me restate: This bug only affected admins and superadmins. Other users were still getting the All Updated Events notifications.

[2021-12-16 21:26] JChipault commented on #524
I see. Thanks! Yea, let's go ahead and push it to production

[2021-12-16 21:34] aaronstephenson commented on #524
Release 2.1.10 d754b41 pushed to production.

[2021-12-21 14:35] JChipault commented on #524
Got some weirdness overnight. I received both the "new" and "updated" All Events notifications for 201704 that was created yesterday but I only got the "new" notification for 201705 - no "updated" for All Events for 201705.

[2021-12-21 21:04] aaronstephenson commented on #524
This is a tricky one. I've been debugging it a while and have a lead, but not a solution yet.

In my IDE debugger as I step thru the code, I see the history records for Event 201705 have the wrong date.
Here's what it looks like in the debugger:
![image](https://user-images.githubusercontent.com/8713712/146996559-ca39600f-d81f-48c3-9e23-2c053463ba5e.png)
Here's what it looks like in the DB table:

[2021-12-22 23:26] aaronstephenson commented on #524
I looked into this some more today, and I still can't explain why the simple_history module is ignoring the stored time zone information for datetimes. There was an [issue]( https://github.com/jazzband/django-simple-history/issues/175) about this in their github repo 6 years ago that was closed immediately, with the maintainer saying that the module should handle time zone correctly if the Django

[2021-12-23 17:58] JChipault commented on #524
@nbaertlein is on leave for the holidays but I'll let him weigh in on next steps here. Thanks, Aaron!

[2021-12-23 20:32] nbaertlein commented on #524
I'm trying wrap my head around the issue and started digging into from the data side.  So far a couple questions/comments I have:
1.)  Is 201705 the error, or is 201704?  Did we need 2 emails (new & update) for 201704 when 'updated' is checked for all notifications?  Seems just one (new) would suffice and I thought we had programmed to send just one in these cases.  I need to do some digging to se

[2021-12-23 22:16] aaronstephenson commented on #524
I'm away from my computer, for your question #2, yes, the updates would get picked up for the next day in a new notification.

[2021-12-24 00:07] JChipault commented on #524
Regarding 1, I'm pretty sure that they do always come in a pair now - i.e., if someone creates an event and box "new" and "updated" are checked on notification settings, then you get both a New and Update notification, separately. For example, for 201702 in my org, I got a new and updated notification when Shelby first created the event and also an update notification from that same day because Da

[2022-01-03 22:27] nbaertlein commented on #524
**For Question 1:**
I think I understand better now.
-If 'updated' is checked AND 'new' is checked, the user will get BOTH update and new notifications for a newly created event.
-If 'updated' is checked and 'new' IS NOT checked, the user will receive ONLY an update notification for a newly created event.

This sounds fine to me.  I was thinking there was a possibility of getting both the update a

[2022-01-05 22:39] JChipault commented on #524
I do believe that my preferences have been set to "new" and "updated" for "All Events" throughout that time.

[2022-01-06 16:07] JChipault commented on #504
Hi Aaron, looks like inactive user Nathan Kudla (user id 137) is still getting notifications.  Based on the 9/21/2021 fix date above, 24 "update needed" notifications have been sent to Nathan since then, and no others. Maybe this specific notification was left off the list of those not to send to inactive users?

![image](https://user-images.githubusercontent.com/49287076/148412754-64754523-b3be-4

[2022-01-12 21:42] aaronstephenson commented on #504
Right you are! That earlier fix I only applied to standard and custom notifications, but I completely overlooked the stale event notifications. The recipients for those are supposed to be the general Epi user and the even owner, so I'll just check if the event owner is active, and if not only generate a notification for the Epi user.

Fixed in 8d8da299 but not yet deployed. I will include it in an

[2022-01-12 22:15] BlakeDraper opened #532 "Business rules bugs with population_count verification on locationspecies POST"
For detail , see: https://github.com/USGS-WiM/whispers/issues/1250

#### Bugs:

1. POST to /api/locationspecies/{id}/ allows `population_count` to be less than `dead_count`, `dead_count_estimated`, `sick_count`, `sick_count_estimated`

     expected behavior: should be prevented per business rules

2.  POST to /api/locationspecies/{id}/ throws error if `population_count` is null when there is any

[2022-01-14 19:43] aaronstephenson commented on #504
Pushed to test environment. @JChipault take a look and let me know if and when to push to production.

[2022-01-14 19:43] aaronstephenson commented on #532
Fixed in c10854ef, pushed to test environment. @JChipault take a look and let me know if and when to push to production.

[2022-01-18 18:43] JChipault opened #534 "standard notifications not issued"
I updated the following events on Sunday from roughly 6:15p to 8p Central: 201213, 201215, 201373, 201400, 201504

No notifications were generated or emailed for these events on Mon morning.

Here's my standard notifications set up:
![image](https://user-images.githubusercontent.com/49287076/149998932-cf11d6ef-f6a7-4ac4-8c39-c9e9e7994e40.png)

I don't have any custom notifications on so can't asse

[2022-01-18 18:45] JChipault commented on #534
Neil is thinking that this isn't related to #524 because my changes on Sunday weren't quite late enough in the evening

[2022-01-18 20:47] JChipault commented on #532
I'm getting a JSON error message.

I created an event with null population (171067) and then I went to the event details page and tried to make the population less than the known dead and got this error
![image](https://user-images.githubusercontent.com/49287076/150015716-b6d13416-d01c-4c30-9c40-200cc27277f8.png)

I was expecting an error message, but was hoping for one that would tell the user wh

[2022-01-18 21:00] JChipault commented on #504
Hmmm... wondering if any other notifications need to be turned off for inactive users. We started this ticket by asking if user account request notifications could get turned off for inactive users ("We noticed that a partner admin with an inactive account (Bob Dittmar, who passed away) was getting emails about user requests in his organization even though his account is inactive. Can we make is s

[2022-01-18 21:13] JChipault commented on #504
PS - I'll make a note for future development to consider the scenario for how the org admins and org managers who get the collaboration request email would know that the event owner is inactive and thus unable to grant collaborator access. This is an edge case so probably not worth working through right now.

[2022-01-18 21:41] aaronstephenson commented on #532
In the browser's dev tools when you open to the Network tab you can see the response from the API, and when you click on the line with the error, it shows you the error code (500) and the error message:
[code]

I see what happened. When I was testing my bug fix locally I only used a scenario where the 4 dead/sick fields were populated, and only tried different values for population, so I didn't co

[2022-01-18 21:52] aaronstephenson commented on #532
Fixed in afa10984 and pushed to test environment. @JChipault please test this again when you have a moment.

[2022-01-18 22:06] JChipault commented on #532
Closer. With 2 dead, I can't have a population of 1, so that's good and working as expected now. However, I can still have a population of 0. When I try to enter a negative number, I get a red warning message that the "minimum value is 0"... can we make the minimum value as 1? Since population is defined as healthy+sick+dead and the user always has to have at least 1 sick or dead when they complet

[2022-01-18 22:25] aaronstephenson commented on #532
Fixed in eb689885 and pushed to test environment, please try this again when you have a moment.

So the problem here isn't my misreading of the business rules, but a feature of python (that I momentarily forgot earlier this afternoon) where the value `0` evaluates to `False`. So the population count validation is being skipped over for this newest scenario:
[code]

I don't think it is necessary fo

[2022-01-18 23:32] JChipault commented on #532
Cool. That gets us a long way! Let's call it there.

It's still possible to enter a 0 in population for an event that isn't complete and that doesn't make sense, but I think we at NWHC should evaluate more how this links to the sick/dead count so I'm going to table the rest of this until we jump into more usability development later this year.

For now, this is a big improvement and gets rid of th

[2022-01-19 00:09] aaronstephenson commented on #504
I looked thru the source code at each notification, here's what I found:

1.  [High Impact Diseases](https://github.com/USGS-WiM/whispersservices/blob/918d2cfa1c00dc3b39f2141c5c2d7cfbf0d4fb02/whispersapi/models.py#L1592), recipients: WHISPers admin team, WHISPers Epi staff, event owner; checking for inactive user ✅
2.  [User Change Request](https://github.com/USGS-WiM/whispersservices/blob/918d2cf

[2022-01-19 00:19] aaronstephenson commented on #504
Collaborator Added notifications fixed in 791ebca9 and pushed to test environment.

[2022-01-19 15:35] JChipault commented on #504
Thank you for this list! Super helpful!

I think you had already accounted for the Collaborator Added notification by removing inactive users from the collaborator list drop down on the front end, right? Regardless, looks like we're in good shape on that front.

I think it would be good to check for inactive users on service request response and service request comment. For both of those they'd ha

[2022-01-20 23:29] aaronstephenson commented on #532
@JChipault do you want me to push this fix to production?

Also, I cannot recreate this, either locally in my dev environment or the test environment:

Whenever I try to add a new species with a population count of `0` I get the expected validation error message

Can you tell me how you were able to enter 0 so I can try to replicate it? Thanks.

[2022-01-25 13:40] JChipault commented on #534
Happened again. Last night (Monday night) at 6:35p C I updated 201329. I still have the notification settings in the screenshot above. I received multiple All Event and Your Organization Event notifications overnight but nothing for 201329.

[2022-01-25 17:17] aaronstephenson commented on #534
Thanks @JChipault, I'll investigate right away. It's easier to troubleshoot immediately after something goes wrong, before much data is changed.

[2022-01-25 22:01] aaronstephenson commented on #534
@JChipault so both of these happened because the changes happened after 6pm CST (midnight UTC). No one gave me the green light to deploy the fix I made [here](https://github.com/USGS-WiM/whispersservices/issues/524#issuecomment-999938624), which would have prevented these issues. How would you like to proceed?

[2022-01-25 22:10] aaronstephenson commented on #532
@JChipault Can you tell me more about how you were able to enter a 0 for population count? I cannot recreate it.

[2022-01-25 22:16] JChipault commented on #532
This was the third thing on my to do list today and I thought for sure it'd get done but I only just finished item 2 on my list... this is tops tomorrow. Sorry to keep you hanging.

[2022-01-26 15:39] JChipault commented on #532
Go to an incomplete event, add a species, put in population of 0, don't put any numbers for sick or dead (sick and dead numbers aren't required for every species until you try to mark an event as complete). It will allow you to save a species with population of zero.

If you do these same steps and add a negative number for population instead of a 0, then you get a red warning that "minimum value

[2022-01-26 15:47] JChipault commented on #524
There was some reason why Neil thought that #534 was not related to this ticket, but I can't recall why. I'm fine with these things being pushed to production, but maybe touch base with @nbaertlein at your meeting tomorrow to make sure I'm not missing something?

[2022-01-26 17:12] nbaertlein commented on #524
Hey @aaronstephenson, yes. let's proceed with the promotion of your fix.
I was mistakenly thinking that changes prior to 9pm were not affected by this as it was > 6hrs from the 3am run, but I see now it needs to be 6 prior to midnight (thus the day before).  Thanks!

[2022-01-26 17:20] aaronstephenson commented on #532
Thanks @JChipault! I hadn't ever attempted a scenario with only the population_count field populated but not any others. 🤦‍♂️ Thanks for finding that. I made the fix in 546b74ae and will include it in my next release.

[2022-01-26 17:22] aaronstephenson commented on #524
Thanks Neil, in retrospect I can see what I wrote last month was a bit ambiguous about the time.

Jenny, I'll take a look at your latest find right now.

[2022-01-26 19:51] aaronstephenson commented on #524
I fixed the latest problem you reported @JChipault. The notifications permissions validations for comments and contacts were just checking for event owner/org/collab ([here](https://github.com/USGS-WiM/whispersservices/blob/master/whispersapi/scheduled_tasks.py#L110) and [here](https://github.com/USGS-WiM/whispersservices/blob/master/whispersapi/scheduled_tasks.py#L155)); it turns out I hadn't inc

[2022-01-26 20:27] aaronstephenson commented on #534
Fix deployed in test and production environments as v2.1.11 0e85d7f

[2022-01-26 20:28] aaronstephenson commented on #524
Fix deployed in test and production environments as v2.1.11 0e85d7f

[2022-01-26 20:28] aaronstephenson commented on #532
Fix deployed in test and production environments as v2.1.11 0e85d7f

[2022-01-26 20:28] #532 closed

[2022-01-26 20:37] #534 closed

[2022-01-26 20:38] aaronstephenson commented on #504
Fix deployed in test and production environments as v2.1.11 0e85d7f

[2022-01-26 20:38] #504 closed

[2022-01-26 21:43] JChipault commented on #504
@aaronstephenson - did you add in these checks from my 1/19 comment: "I think it would be good to check for inactive users on service request response and service request comment"?

[2022-01-26 22:26] aaronstephenson commented on #504
No, you mentioned future development and edge case and it seemed to me that that encompassed everything in that paragraph, so I let it be. Implementing it would only take a few minutes, if you want me to do that now.

[2022-01-27 14:55] JChipault commented on #504
Sorry, my wording was confusing. I was indicating that we don't need to figure out front end messaging to users on why someone isn't getting service request emails right now (can punt that), but I would like to turn off email notifications to inactive users for service request response and service request comment so that inactive users aren't receiving emails that they can't do anything with

[2022-01-27 18:40] aaronstephenson commented on #504
Implemented in v2.1.12 6474df5 and pushed to both the test and production environments.

[2022-03-23 19:06] JChipault opened #547 ""Undetermined" event diagnosis doesn't always stick"
NOTE: this could be a big lift... we're not sure. Take a gander below and let us know how much time this might take before you jump in. Currently, our internal users know to manually enter the disappearing "Undetermined" back in to the record as needed, so that's our work around.

**Describe the bug**
Sometimes "Undetermined" is selected as an event level diagnosis manually but it doesn't stick th

[2022-05-12 20:11] aaronstephenson opened #546 "Implement Banner model and endpoint"
Intended for use as a HTML banner div in the main WHISPers client.

Fields:
- content (text)
- active (Boolean)
- end_date (date)
- type? (unsure if this is needed)

Admins can see all banners (or filter on the active field), while everyone else only sees active banners.

[2022-05-12 20:20] aaronstephenson commented on #546
Initial work in new branch [546](https://github.com/USGS-WiM/whispersservices/tree/546) (commit 064e985f)

[2022-06-03 22:40] JChipault commented on #547
Although I just tried an event on the test site that did not have undetermined at the species or event level... it did have "tularemia" at the event level already... then I added undetermined to the species level... then I selected undetermined at the event level... and then I edited the number of dead for a species in the event... and then "undetermined" at the event level disappeared on me, even

[2022-06-09 14:40] BlakeDraper commented on #547
@aaronstephenson ☝️ interesting find there from Jenny.

[2022-06-17 20:43] JChipault opened #548 "Variables to enhance notifications"
**Enhancement**
After some user feedback, we find we'd like some more dynamic variables made available in the notifications. Neil can change the static text, so it's just making these extra variables available that we're looking for. Holler if any of these are complicated. Thanks!

ID 1:
High Impact Diseases
Variables to add:
First name, last name, user name, and organization for person who entere

[2022-06-23 16:41] aaronstephenson commented on #548
@JChipault I can quickly add these to the code, but:

1. I need to know if the new variables go in the body template or subject template or both, and the best way to know this would be for you to just supply me with your new body and subject templates.
2. The code changes need to be simultaneously deployed with changes to the "whispers_notificationmessagetemplate" table's "message_variable", "body

[2022-06-23 16:58] aaronstephenson commented on #548
I added Event ID to the Third Party Service Validation Warning email bodies. That change will be deployed along with the eventual notification message variable changes.

[2022-06-23 17:14] JChipault commented on #548
Regarding 1 above - Just the body. We haven't made the new language yet (waiting to see if adding these variables was do-able) so don't have that to pass to you, but I don't believe we have any changes in mind to include these variables for the subject line.

Regarding 2 above - @nbaertlein I'm guessing this pertains to the changes you've recently made to text on the test site??? Maybe? Or maybe I

[2022-06-23 19:46] aaronstephenson commented on #548
Everything is ready to go on my end, got PR #549 ready to merge. Just need to coordinate the "whispers_notificationmessagetemplate" table changes with @nbaertlein so the app doesn't break.

[2022-06-23 19:58] JChipault commented on #548
I don't quite follow... are you saying you didn't do ID 13 because that one is a big lift?

[2022-06-24 15:30] aaronstephenson commented on #546
@BlakeDraper where did things end up with the proposed banner feature? Should I merge this into the test branch?

[2022-06-24 15:53] BlakeDraper commented on #546
@aaronstephenson banner is on hold - no merge.

[2022-06-24 18:26] aaronstephenson commented on #547
@nbaertlein @JChipault

I spent a good chunk of time looking into this and here's what I found...

Just for background, to help with understanding the rest of what I write below, the business rules (as found in the spreadsheet in our joint SharePoint folder) for EventDiagnoses.diagnosis are

My interpretation of that was:
A. If no event-level diagnosis indicated by user and the event is incomplete

[2022-06-24 20:34] JChipault commented on #548
Got it. Thanks for explaining more.

So the updated text that Neil was working on loading doesn't have these new variables. Do we need to update the text again before your change are deployed so that the new variables on this ticket are integrated in to the text now?

[2022-06-24 20:38] aaronstephenson commented on #548
The two things (deploying the new code and updating the template text in the DB table) must be done simultaneously, or there will be errors caused by the mismatch of variables and no notifications will be sent. If you could supply me with the new template text, I could do both things together.

[2022-06-24 20:52] JChipault commented on #548
Ok, thanks. We'll work on updating text next week. I didn't realize both would have to be deployed simultaneously so thanks for pointing that out.

[2022-06-24 21:52] JChipault commented on #547
Thanks for talking this through, Aaron. We've evolved our thinking about C since first writing the business rules and it can be ignored now. So both Tularemia and Undetermined at the event level would be ok for either an incomplete or a complete event. My apologies for not checking that spreadsheet before adding this github ticket to make sure it was clear in the spreadsheet. You can see that I ma

[2022-06-27 17:17] nbaertlein commented on #548
@aaronstephenson I do not think adding the message variables to the code and table, but not the message body and subject templates will cause errors.  Case in point:  I just tested the collaboration request (template id=5) with all the variables and without all variables and still got the email.  The message variables for this are {first_name,last_name,organization,event_id,comment,email}
Successf

[2022-06-28 18:15] JChipault opened #551 "error message when save event leads to duplicates when user hits "save event" again"
**Describe the bug**
I noticed that we had some duplicate events so I wrote the partner who created them to see if they were indeed duplicates to figure out if I should delete two events and this is what I got in reply:

"As for the events 202328-202330. I suspect this is one of the events I had trouble entering. When I attempted to Save Event for the case, I got an error message. I don’t recall e

[2022-07-07 14:08] nbaertlein opened #550 "Message template ID in Notifications table"
Would like to add the id from 'whispers_notificationmessagetemplate' to 'whispers_notification' at the time of notification creation.  Will help monitor usage and performance trends over time, especially as message subject and body may change.  Currently, the only way to track this is to join the two tables by truncated subject and/or body.

[2022-07-12 21:35] aaronstephenson commented on #547
Fixed in a6351c3, will be included soon in next Test branch release.

[2022-07-12 21:37] JChipault opened #553 "no emailed notifications for service response"
**Describe the bug**
It appears that real-time emails are being sent for service request comments but not for service request responses. We've tested this on the test site and also asked folks using the production site if they are getting emailed notifications for service request response and they say they are not.

**To Reproduce**
Steps to reproduce the behavior:
1. From one user account put in

[2022-07-12 21:38] aaronstephenson commented on #548
After chatting IRL today about this, I will wait to promote this change until the new message templates are ready, then I will deploy them both at the same time.

[2022-07-12 21:55] #553 closed

[2022-07-12 21:56] JChipault commented on #553
well, that was fast! Thanks

[2022-07-12 21:59] aaronstephenson commented on #553
You betcha! I just happened to be working on an other issue and this was an easy fix 😄